<div class="container-fluid">

  <app-page-title title="Lista de Clientes" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row mt-2 mb-2">
    <div class="col-sm-12 col-md-8 justify-content-start">
      <div class="row mb-2">
        <div class="col-8 search-box chat-search-box">
          <div class="position-relative">
            <input type="text" class="form-control border-light rounded" placeholder="Buscar cliente" name="searchTerm"
              aria-controls="tickets-table" [(ngModel)]="service.searchTerm">
            <i class="uil uil-search search-icon"></i>
          </div>
        </div>
        <div class="col-4">
          <div class="btn-group text-md-start">
            <button type="button" class="btn btn-primary"><i class="uil uil-import" ngbTooltip="Exportar"></i></button>
            <button type="button" class="btn btn-primary"><i class="uil uil-export" ngbTooltip="Importar"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 text-md-end">
      <div class="dataTables_length"><label class="d-inline-flex align-items-center">Mostrar<select name="pageSize"
        [(ngModel)]="service.pageSize"
        class="custom-select custom-select-sm form-control form-control-sm form-select form-select-sm">
        <option [ngValue]="10">10</option>
        <option [ngValue]="25">25</option>
        <option [ngValue]="50">50</option>
        <option [ngValue]="100">100</option>
      </select> entradas</label></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive mb-4">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <form>
            <table class="table table-centered datatables dt-responsive nowrap table-card-list"
              style="border-spacing: 0 12px; width: 100%;">
              <thead>
                <tr class="bg-transparent">
                  <!--                     <th style="width: 20px;">
  
                      <div class="form-check text-center">
                        <input type="checkbox" class="form-check-input" id="customercheck">
                        <label class="form-check-label" for="customercheck"></label>
                      </div>
                    </th> -->
                  <th scope="col" sortable="id" (sort)="onSort($event)">#</th>
                  <th scope="col" sortable="nombres" (sort)="onSort($event)">Nombres</th>
                  <th scope="col" sortable="apellidos" (sort)="onSort($event)">Apellidos</th>
                  <th scope="col" sortable="dni" (sort)="onSort($event)">DNI</th>
                  <th scope="col" sortable="Telefono" (sort)="onSort($event)">Teléfono</th>
                  <th scope="col" sortable="total" (sort)="onSort($event)">Fecha de Nacimiento</th>
                  <th scope="col" sortable="Encarg. Medición" (sort)="onSort($event)">Encargado Medicion</th>
                  <!-- <th scope="col" sortable="status" (sort)="onSort($event)">Estado</th> -->
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of customers$ | async; let i = index">
                  <!--                     <td>
                      <div class="form-check text-center">
                        <input id="ordercheck{{data.index}}" type="checkbox" class="form-check-input" />
                        <label class="form-check-label" for="ordercheck{{data.index}}">&nbsp;</label>
                      </div>
                    </td> -->
                  <td>
                    <ngb-highlight [result]="i" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <div class="avatar-xs d-inline-block me-2">
                      <span class="avatar-title rounded-circle bg-light text-body">
                        {{data.nombres.charAt(0)}}
                      </span>
                    </div>
                    <ngb-highlight [result]="data.nombres" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.apellidos" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.dni" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.telefono" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.fecha_creacion| date: 'dd/MM/yyyy'" [term]="service.searchTerm">
                    </ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.medidas[0].encargado" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <!-- <td>
                      <span class="badge bg-pill bg-soft-success font-size-12"
                        [ngClass]=" { 'bg-soft-danger': data.status === 'Deactive' }">{{data.status}}</span>
                    </td> -->
                  <td>
                    <a href="javascript:void(0);" class="px-2 text-info" placement="top" ngbTooltip="Info"><i
                        class="uil uil-info-circle font-size-18"></i></a>
                    <a (click)="centerModal(centerDataModal,data)" class="px-2 text-primary" placement="top"
                      ngbTooltip="Editar"><i class="uil uil-pen font-size-18"></i></a>
                    <a href="javascript:void(0);" class="px-2 text-danger" placement="top" ngbTooltip="Eliminar"><i
                        class="uil uil-trash-alt font-size-18"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="float-end">
              <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
                [pageSize]="service.pageSize">
                <ng-template ngbPaginationPrevious>Previous</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
              </ngb-pagination>
            </div>

          </form>
        </div>
      </div>


    </div>
  </div>
  <!-- end row -->
</div>


<!-- Add New Customer - Center Modal -->
<ng-template #centerDataModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">Registrar Nuevo Cliente</h5>
    <button type="button" class="btn-close" (click)="closeEventModal()">
    </button>
  </div>
  <div class="modal-body p-4">
    <form [formGroup]="formCustomer">
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">DNI</label>
            <input class="form-control" placeholder="DNI del cliente" type="text" formControlName="{{this.dni}}"
              [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <!-- <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div> -->
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">Fecha de Registro</label>
            <input class="form-control" placeholder="Seleccione la fecha" type="text"
              formControlName="{{this.fecha_modificacion}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <!-- <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">Nombres</label>
            <input class="form-control" placeholder="Nombres del cliente" type="text" formControlName="{{this.nombres}}"
              [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <!-- <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div> -->
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">Apellidos</label>
            <input class="form-control" placeholder="Apellidos del cliente" type="text"
              formControlName="{{this.apellidos}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">Fecha de Nacimiento</label>
            <input class="form-control" placeholder="Seleccione la fecha" type="text"
              formControlName="{{this.fecha_nacimiento}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">Teléfono</label>
            <input class="form-control" placeholder="Teléfono del cliente" type="text"
              formControlName="{{this.telefono}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Correo Electrónico</label>
            <input class="form-control" placeholder="Correo electrónico" type="email"
              formControlName="{{this.email}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <h6>Especificaciones de la Medida</h6>
      </div>

      <div class="d-flex justify-content-start">
        <h6>Ojo Derecho</h6>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <label class="control-label">ESF</label>
            <input class="form-control" placeholder="Esfera" type="text" formControlName="{{this.od_esferico}}"
              [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label class="control-label">CYL</label>
            <input class="form-control" placeholder="Cilindro" type="text" formControlName="{{this.od_cilindrico}}"
              [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label class="control-label">EJE</label>
            <input class="form-control" placeholder="Eje" type="text" formControlName="{{this.od_eje}}"
              [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-start">
        <h6>Ojo Izquierdo</h6>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <label class="control-label">ESF</label>
            <input class="form-control" placeholder="Esfera" type="text" formControlName="{{this.oi_esferico}}"
              [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label class="control-label">CYL</label>
            <input class="form-control" placeholder="Cilindro" type="text" formControlName="{{this.oi_cilindrico}}"
              [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label class="control-label">EJE</label>
            <input class="form-control" placeholder="Eje" type="text" formControlName="{{this.oi_eje}}"
              [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">DIP</label>
            <input class="form-control" placeholder="Distancia Interpupilar" type="text" formControlName="{{this.dip}}"
              [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">ADD</label>
            <input class="form-control" placeholder="Adición" type="text" formControlName="{{this.add}}"
              [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Encargado de la Medición</label>
            <input class="form-control" placeholder="Nombres y apellidos del Oftometra" type="text"
              formControlName="{{this.encargado}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="mb-3">
            <label class="form-label" for="billing-observaciones">Antecedentes</label>
            <textarea class="form-control" id="billing-observaciones" rows="3"
              placeholder="Ingrese los antecedentes del cliente" formControlName="{{this.observaciones}}"></textarea>
          </div>
        </div>
      </div>


      <div class="text-end mt-2">
        <button type="button" class="btn btn-danger" (click)="closeEventModal()">
          Cerrar
        </button>
        <button type="submit" class="btn btn-success ms-1" id="btn-save-event" (click)="guardarCliente()">
          Guardar
        </button>
      </div>
    </form>
  </div>
  <!-- end modal dialog-->
</ng-template>
<!-- end modal-->