<div class="container-fluid">

  <app-page-title title="Lista de Clientes" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row mt-2 mb-2">
    <div class="col-sm-12 col-md-8 justify-content-start">
      <div class="row mb-2">
        <div class="col-md-8 search-box chat-search-box">
          <div class="position-relative">
            <input type="text" class="form-control border-light rounded" placeholder="Buscar cliente" name="searchTerm"
              aria-controls="tickets-table" [(ngModel)]="service.searchTerm">
            <i class="uil uil-search search-icon"></i>
          </div>
        </div>
<!--         <div class="col-4">
          <div class="btn-group text-md-start">
            <button type="button" class="btn btn-primary"><i class="uil uil-import" ngbTooltip="Exportar"></i></button>
            <button type="button" class="btn btn-primary"><i class="uil uil-export" ngbTooltip="Importar"></i></button>
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-sm-12 col-md-4 text-md-end">
      <div class="dataTables_length"><label class="d-inline-flex align-items-center">Mostrar<select name="pageSize"
            [(ngModel)]="service.pageSize"
            class="custom-select custom-select-sm form-control form-control-sm form-select form-select-sm">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
          </select> entradas</label></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive mb-4">
          <form>
            <table class="table datatables table-centered table-nowrap mb-0 align-middle table-card-list"style="border-spacing: 0 12px; width: 100%;">
              <thead>
                <tr class="bg-transparent">
                  <!--                     <th style="width: 20px;">
  
                      <div class="form-check text-center">
                        <input type="checkbox" class="form-check-input" id="customercheck">
                        <label class="form-check-label" for="customercheck"></label>
                      </div>
                    </th> -->
                  <th scope="col" sortable="id" (sort)="onSort($event)">Ord.</th>
                  <th scope="col" sortable="nombres" (sort)="onSort($event)">Nombres</th>
                  <th scope="col" sortable="apellidos" (sort)="onSort($event)">Apellidos</th>
                  <th scope="col" sortable="dni" (sort)="onSort($event)">DNI</th>
                  <th scope="col" sortable="telefono" (sort)="onSort($event)">Teléfono</th>
                  <th scope="col" sortable="fecha_nacimiento" (sort)="onSort($event)">Fecha de Nacimiento</th>
                  <!-- <th scope="col" sortable="Encarg. Medición" (sort)="onSort($event)">Encargado Medicion</th> -->
                  <!-- <th scope="col" sortable="status" (sort)="onSort($event)">Estado</th> -->
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of customers$ | async; let i = index">
                  <!--                     <td>
                      <div class="form-check text-center">
                        <input id="ordercheck{{data.index}}" type="checkbox" class="form-check-input" />
                        <label class="form-check-label" for="ordercheck{{data.index}}">&nbsp;</label>
                      </div>
                    </td> -->
                  <td>
                    <ngb-highlight [result]="i+1" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <div class="avatar-xs d-inline-block me-2">
                      <span class="avatar-title rounded-circle bg-light text-body">
                        {{data.nombres.charAt(0)}}
                      </span>
                    </div>
                    <ngb-highlight [result]="data.nombres" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.apellidos" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.dni" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.telefono" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.fecha_creacion| date: 'dd/MM/yyyy'" [term]="service.searchTerm">
                    </ngb-highlight>
                  </td>
                  <!--                   <td>
                    <ngb-highlight [result]="data.medidas[0].encargado" [term]="service.searchTerm"></ngb-highlight>
                  </td> -->
                  <!-- <td>
                      <span class="badge bg-pill bg-soft-success font-size-12"
                        [ngClass]=" { 'bg-soft-danger': data.status === 'Deactive' }">{{data.status}}</span>
                    </td> -->
                  <td>
                    <a (click)="centerModalPrint(centerDataModalMeasurementsCustomer,data)" class="px-2 text-info"
                      placement="top" ngbTooltip="Receta"><i class="uil uil-file-info-alt font-size-18"></i></a>
                    <a (click)="centerModal(centerDataModalEditCustomer,data)" class="px-2 text-primary" placement="top"
                      ngbTooltip="Editar"><i class="uil uil-pen font-size-18"></i></a>
                    <a (click)="eliminar(data)" class="px-2 text-danger" placement="top" ngbTooltip="Eliminar"><i
                        class="uil uil-trash-alt font-size-18" *appRole="role"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
      </div>

      <div class="row" *ngIf="!mostrarSpinner">
        <div class="col-12">
          <div class="text-center my-3">
            <a href="javascript:void(0);" class="text-primary"><i
                class="mdi mdi-loading mdi-spin font-size-20 align-middle me-2"></i> Cargando </a>
          </div>
        </div> <!-- end col-->
      </div>

      <!-- End table -->
      <div class="row justify-content-md-between align-items-md-center">
        <!-- <div class="col-sm-12 col-md-5">
          <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Page 2 of 84</div>
        </div> -->
        <!-- Pagination -->
        <div class="col-12">
          <div class="text-md-end float-md-end pagination-rounded">
            <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </div>
        <!-- End Pagination -->
      </div>
    </div>
  </div>
  <!-- end row -->
</div>


<!-- See Ophthalmic Measurements Customer - Center Modal -->
<ng-template #centerDataModalMeasurementsCustomer let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Receta Oftalmológica</h5>
    <button type="button" class="btn-close" (click)="closeEventModalGeneral()" aria-hidden="true"></button>
  </div>
  <div class="modal-body">
    <div class="p-3">
            <div class="invoice-title">
              <div class="row">
                <div class="col-sm-6">
                  <div class="mb-4">
                    <img src="assets/images/logo-dark.png" alt="logo" height="100" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="text-muted text-sm-end">
                    <!-- <div>
                      <h5 class="font-size-16 mb-1">Nº de Receta:</h5>
                      <p>#MN0131</p>
                    </div> -->
                    <div class="mt-4">
                      <h5 class="font-size-16 mb-1">Fecha de la Receta:</h5>
                      <p>15 Dic, 2022</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-1">

            <div class="row">
              <div class="col-12">
                <div class="text-muted">
                  <h5 class="font-size-16 mb-3">Paciente:</h5>
                  <h5 class="font-size-15 mb-2">{{userPrint.nombres}} {{userPrint.apellidos}}</h5>
                  <li class="list-inline-item"><span class="fw-medium">Fecha de Nacimiento : </span>{{userPrint.fecha_nacimiento | date: 'dd/MM/yyyy'}}</li><br>
                  <li class="list-inline-item"><span class="fw-medium">Telefono: </span>{{userPrint.telefono}}</li>
                </div>
              </div>
            </div>
            <hr class="my-2">
            <div class="py-1">
              <div class="row">
                <div class="col-lg-9 mb-2">
                  <h5 class="card-title text-center">Visión de Lejos</h5>
                  <div class="table-responsive">
                    <table class="table table-nowrap table-centered table-bordered mb-0">
                      <thead>
                        <tr class="table-light">
                          <th style="width: 70px;">REF.</th>
                          <th>ESF.</th>
                          <th>CIL.</th>
                          <th>EJE.</th>
                          <th>DIP.</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">O.D.</th>
                          <td>{{userPrint.medidas[0].od_esferico}}</td>
                          <td>{{userPrint.medidas[0].od_cilindrico}}</td>
                          <td>{{userPrint.medidas[0].od_eje}}</td>
                          <td>{{userPrint.medidas[0].dip}}</td>
                        </tr>

                        <tr>
                          <th scope="row">O.I.</th>
                          <td>{{userPrint.medidas[0].oi_esferico}}</td>
                          <td>{{userPrint.medidas[0].oi_cilindrico}}</td>
                          <td>{{userPrint.medidas[0].oi_eje}}</td>
                          <td>{{userPrint.medidas[0].dip}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-lg-3">
                  <h5 class="card-title text-center">Visión de Cerca</h5>
                  <div class="table-responsive">
                    <table class="table table-nowrap table-centered table-bordered mb-0">
                      <thead>
                        <tr class="table-light">
                          <th class="text-center">ADD.</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center">{{userPrint.medidas[0].add}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="text-muted">
                    <div class="mt-4">
                      <h4 class="card-title">Encargado Medición:</h4>
                      <p class="card-title-desc">{{userPrint.medidas[0].encargado}}</p>
                      <h4 class="card-title">Antecedentes:</h4>
                      <p class="card-title-desc">{{userPrint.antecedentes}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  <div class="modal-footer">
<!--     <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light me-1"><i
      class="fa fa-print"></i></a> -->
    <button class="btn btn-primary" (click)="createPDF()"><i class="uil uil-download-alt me-1"></i> Pdf</button>
    <a (click)="closeEventModalGeneral()" class="btn btn-danger w-md waves-effect waves-light">Cerrar</a>
  </div>
</ng-template>


<!-- Edit Customer - Center Modal -->
<ng-template #centerDataModalEditCustomer let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">Editar Cliente</h5>
    <button type="button" class="btn-close" (click)="closeEventModal()">
    </button>
  </div>
  <div class="modal-body p-4">
    <form [formGroup]="formCustomer">
      <p class="card-title-desc text-danger">* Campo requerido</p>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">DNI *</label>
            <input class="form-control" placeholder="DNI del cliente" type="text" formControlName="{{this.dni}}"
              [ngClass]="{'is-invalid': formEC.campoDNI.invalid && (formEC.campoDNI.dirty || formEC.campoDNI.touched)}" />
            <div class="invalid-feedback">
              <div *ngIf="formEC.campoDNI.errors?.required">
                Campo requerido
              </div>
              <div *ngIf="formEC.campoDNI.errors?.pattern">
                Ingrese solo números
              </div>
              <div *ngIf="formEC.campoDNI.errors?.min">
                Número de dígitos menor
              </div>
              <div *ngIf="formEC.campoDNI.errors?.max">
                Número de dígitos mayor
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">Fecha de Registro</label>
            <input class="form-control" placeholder="Seleccione la fecha" type="date"
              formControlName="{{this.fecha_modificacion}}" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">Nombres *</label>
            <input class="form-control" placeholder="Nombres del cliente" type="text" formControlName="{{this.nombres}}"
              [ngClass]="{'is-invalid': formEC.campoNombres.invalid && (formEC.campoNombres.dirty || formEC.campoNombres.touched)}" />
            <div class="invalid-feedback">
              <div *ngIf="formEC.campoNombres.errors?.required">
                Campo requerido
              </div>
              <div *ngIf="formEC.campoNombres.errors?.pattern">
                Ingrese solo letras
              </div>
              <div *ngIf="formEC.campoNombres.errors?.minlength">
                Los nombres debe ser mayor a 3 caracteres
              </div>
              <div *ngIf="formEC.campoNombres.errors?.maxlength">
                Los nombres debe ser menor a 40 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">Apellidos *</label>
            <input class="form-control" placeholder="Apellidos del cliente" type="text"
              formControlName="{{this.apellidos}}"
              [ngClass]="{'is-invalid': formEC.campoApellidos.invalid && (formEC.campoApellidos.dirty || formEC.campoApellidos.touched)}" />
            <div class="invalid-feedback">
              <div *ngIf="formEC.campoApellidos.errors?.required">
                Campo requerido
              </div>
              <div *ngIf="formEC.campoApellidos.errors?.pattern">
                Ingrese solo letras
              </div>
              <div *ngIf="formEC.campoApellidos.errors?.minlength">
                Los apellidos debe ser mayor a 3 caracteres
              </div>
              <div *ngIf="formEC.campoApellidos.errors?.maxlength">
                Los apellidos debe ser menor a 40 caracteres
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="mb-3">
            <label class="control-label">Fecha de Nacimiento</label>
            <input class="form-control" placeholder="Seleccione la fecha" type="date"
              formControlName="{{this.fecha_nacimiento}}" />
          </div>
        </div>
        <div class="col-3">
          <div class="mb-3">
            <label class="control-label">Teléfono</label>
            <input class="form-control" placeholder="Teléfono del cliente" type="text"
              formControlName="{{this.telefono}}"
              [ngClass]="{'is-invalid': formEC.campoTelefono.invalid && (formEC.campoTelefono.dirty || formEC.campoTelefono.touched)}" />
            <div class="invalid-feedback">
              <div *ngIf="formEC.campoTelefono.errors?.pattern">
                Ingrese solo números
              </div>
              <div *ngIf="formEC.campoTelefono.errors?.min">
                Número de dígitos menor
              </div>
              <div *ngIf="formEC.campoTelefono.errors?.max">
                Número de dígitos mayor
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">Correo Electrónico</label>
            <input class="form-control" placeholder="Correo electrónico" type="email" formControlName="{{this.email}}"
              [ngClass]="{'is-invalid': formEC.campoEmail.invalid && (formEC.campoEmail.dirty || formEC.campoEmail.touched)}" />
            <div class="invalid-feedback">
              <div *ngIf="formEC.campoEmail.errors?.email">
                Email invalido
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-top py-2">
        <div class="d-flex justify-content-center">
          <h6>Especificaciones de la Medida</h6>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="d-flex justify-content-center">
              <h6>Ojo Derecho</h6>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="mb-3">
                  <label class="control-label">ESF *</label>
                  <input class="form-control" placeholder="Esfera" type="text" 
                  formControlName="{{this.od_esferico}}" [ngClass]="{'is-invalid': formEC.campoOdEsferico.invalid && (formEC.campoOdEsferico.dirty || formEC.campoOdEsferico.touched)}" />
                  <div class="invalid-feedback">
                    <div *ngIf="formEC.campoOdEsferico.errors?.required">
                      Campo requerido
                    </div>
                    <div *ngIf="formEC.campoOdEsferico.errors?.pattern">
                      Formato mal escrito
                    </div>
                    <div *ngIf="formEC.campoOdEsferico.errors?.min">
                      Número menor
                    </div>
                    <div *ngIf="formEC.campoOdEsferico.errors?.max">
                      Número mayor
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label class="control-label">CYL *</label>
                  <input class="form-control" placeholder="Cilindro" type="text"
                    formControlName="{{this.od_cilindrico}}" [ngClass]="{'is-invalid': formEC.campoOd_Cilindrico.invalid && (formEC.campoOd_Cilindrico.dirty || formEC.campoOd_Cilindrico.touched)}" />
                    <div class="invalid-feedback">
                      <div *ngIf="formEC.campoOd_Cilindrico.errors?.required">
                        Campo requerido
                      </div>
                      <div *ngIf="formEC.campoOd_Cilindrico.errors?.pattern">
                        Formato mal escrito
                      </div>
                      <div *ngIf="formEC.campoOd_Cilindrico.errors?.min">
                        Número menor
                      </div>
                      <div *ngIf="formEC.campoOd_Cilindrico.errors?.max">
                        Número mayor
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label class="control-label">EJE *</label>
                  <input class="form-control" placeholder="Eje" type="text" 
                  formControlName="{{this.od_eje}}" [ngClass]="{'is-invalid': formEC.campoOdEje.invalid && (formEC.campoOdEje.dirty || formEC.campoOdEje.touched)}" />
                  <div class="invalid-feedback">
                    <div *ngIf="formEC.campoOdEje.errors?.required">
                      Campo requerido
                    </div>
                    <div *ngIf="formEC.campoOdEje.errors?.min">
                      Número menor
                    </div>
                    <div *ngIf="formEC.campoOdEje.errors?.max">
                      Número mayor
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex justify-content-center">
              <h6>Ojo Izquierdo</h6>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="mb-3">
                  <label class="control-label">ESF *</label>
                  <input class="form-control" placeholder="Esfera" type="text" 
                  formControlName="{{this.oi_esferico}}" [ngClass]="{'is-invalid': formEC.campoOiEsferico.invalid && (formEC.campoOiEsferico.dirty || formEC.campoOiEsferico.touched)}" />
                  <div class="invalid-feedback">
                    <div *ngIf="formEC.campoOiEsferico.errors?.required">
                      Campo requerido
                    </div>
                    <div *ngIf="formEC.campoOiEsferico.errors?.pattern">
                      Formato mal escrito
                    </div>
                    <div *ngIf="formEC.campoOiEsferico.errors?.min">
                      Número menor
                    </div>
                    <div *ngIf="formEC.campoOiEsferico.errors?.max">
                      Número mayor
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label class="control-label">CYL *</label>
                  <input class="form-control" placeholder="Cilindro" type="text"
                    formControlName="{{this.oi_cilindrico}}" [ngClass]="{'is-invalid': formEC.campoOiCilindrico.invalid && (formEC.campoOiCilindrico.dirty || formEC.campoOiCilindrico.touched)}" />
                    <div class="invalid-feedback">
                      <div *ngIf="formEC.campoOiCilindrico.errors?.required">
                        Campo requerido
                      </div>
                      <div *ngIf="formEC.campoOiCilindrico.errors?.pattern">
                        Formato mal escrito
                      </div>
                      <div *ngIf="formEC.campoOiCilindrico.errors?.min">
                        Número menor
                      </div>
                      <div *ngIf="formEC.campoOiCilindrico.errors?.max">
                        Número mayor
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label class="control-label">EJE *</label>
                  <input class="form-control" placeholder="Eje" type="text" 
                  formControlName="{{this.oi_eje}}" [ngClass]="{'is-invalid': formEC.campoOiEje.invalid && (formEC.campoOiEje.dirty || formEC.campoOiEje.touched)}" />
                  <div class="invalid-feedback">
                    <div *ngIf="formEC.campoOiEje.errors?.required">
                      Campo requerido
                    </div>
                    <div *ngIf="formEC.campoOiEje.errors?.min">
                      Número menor
                    </div>
                    <div *ngIf="formEC.campoOiEje.errors?.max">
                      Número mayor
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="mb-3">
            <label class="control-label">DIP *</label>
            <input class="form-control" placeholder="Distancia Interpupilar" type="text"
              formControlName="{{this.dip}}" [ngClass]="{'is-invalid': formEC.campoDip.invalid && (formEC.campoDip.dirty || formEC.campoDip.touched)}" />
              <div class="invalid-feedback">
                <div *ngIf="formEC.campoDip.errors?.required">
                  Campo requerido
                </div>
                <div *ngIf="formEC.campoDip.errors?.min">
                  Número menor
                </div>
                <div *ngIf="formEC.campoDip.errors?.max">
                  Número mayor
                </div>
              </div>
          </div>
        </div>
        <div class="col-3">
          <div class="mb-3">
            <label class="control-label">ADD</label>
            <input class="form-control" placeholder="Adición" type="text" 
            formControlName="{{this.add}}" [ngClass]="{'is-invalid': formEC.campoAdd.invalid && (formEC.campoAdd.dirty || formEC.campoAdd.touched)}" />
            <div class="invalid-feedback">
              <div *ngIf="formEC.campoAdd.errors?.pattern">
                Formato mal escrito
              </div>
              <div *ngIf="formEC.campoAdd.errors?.min">
                Número menor
              </div>
              <div *ngIf="formEC.campoAdd.errors?.max">
                Número mayor
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">Encargado de la Medición</label>
            <input class="form-control" placeholder="Nombres y apellidos del Oftometra" type="text"
              formControlName="{{this.encargado}}"
              [ngClass]="{'is-invalid': formEC.campoEncargado.invalid && (formEC.campoEncargado.dirty || formEC.campoEncargado.touched)}" />
            <div class="invalid-feedback">
              <div *ngIf="formEC.campoEncargado.errors?.pattern">
                Ingrese solo letras
              </div>
              <div *ngIf="formEC.campoEncargado.errors?.minlength">
                El campo debe ser mayor a 3 caracteres
              </div>
              <div *ngIf="formEC.campoEncargado.errors?.maxlength">
                El campo debe ser menor a 40 caracteres
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-top py-2">
        <div class="row">
          <div class="col-6">
            <div class="mb-4">
              <label class="form-label" for="billing-direccion">Dirección</label>
              <textarea class="form-control" id="billing-direccion" rows="3"
                placeholder="Dirección completa del cliente"
                formControlName="{{this.direccion}}"></textarea>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-4">
              <label class="form-label" for="billing-antecedentes">Antecedentes</label>
              <textarea class="form-control" id="billing-antecedentes" rows="3"
                placeholder="Antecedentes del cliente"
                formControlName="{{this.antecedentes}}"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="text-end mt-2">
        <button type="button" class="btn btn-danger" (click)="closeEventModal()">
          Cerrar
        </button>
        <button type="submit" class="btn btn-success ms-1" id="btn-save-event" (click)="guardarCliente()">
          Guardar
        </button>
      </div>
    </form>
  </div>
  <!-- end modal dialog-->
</ng-template>
<!-- end modal-->