<div class="container-fluid">
    <app-page-title title="Listas de Registro de Ingresos y Egresos" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
      <div class="col-md-6 mb-2">
        <div class="form-inline">
          <div class="search-box ml-2">
            <div class="position-relative">
              <input type="text" class="form-control border-light rounded" placeholder="Buscar registro" name="searchTerm"
              aria-controls="tickets-table" [(ngModel)]="service.searchTerm">
              <i class="uil uil-search search-icon"></i>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 mb-2">
        <div>
          <div class="btn-toolbar" role="toolbar">
  
            <div class="col-12 col-md-6 d-grid mb-2">

            </div>
  
            <div class="col-12 col-md-6 d-grid">
              <form [formGroup]="formSedes">
                <div ngbDropdown>
                  <ng-select [items]="listSedes" placeholder="Seleccione la sede" bindValue="id_sede"
                    bindLabel="nombre_sede" formControlName="{{this.nombre_sedes}}">
                  </ng-select>
                </div>
              </form>
            </div>

            <div class="col-12 col-md-6 d-grid mb-2 chat-search-box px-1">
              <div class="position-relative">
                <form [formGroup]="formDateRange">
                  <div class="input-daterange input-group">
                    <input type="month" class="form-control" id="billing-fechanacimiento"
                    placeholder="Seleccione la fecha" formControlName="{{this.fechaDesde}}" />
                    <input type="month" class="form-control" id="billing-fechanacimiento"
                    placeholder="Seleccione la fecha" formControlName="{{this.fechaHasta}}" />
                    <button type="button" class="btn btn-primary" (click)="filterDateRange()"><i
                        class="mdi mdi-filter-variant"></i></button>
                  </div>
                </form>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>

    <div class="row md-2">
      <!--   <div class="col-sm-6 col-md-6">
  
    </div> -->
      <div class="col-sm-12 col-md-12">
        <div class="dataTables_length text-md-end"><label class="d-inline-flex align-items-center">Mostrar<select
              name="pageSize" [(ngModel)]="service.pageSize"
              class="custom-select custom-select-sm form-control form-control-sm form-select form-select-sm">
              <option [ngValue]="10">10</option>
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="100">100</option>
            </select> entradas</label></div>
      </div>
    </div>

  
    <div class="row">
      <div class="col-12">
        <div class="table-responsive mb-4">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <form>
  
              <table class="table table-centered datatables dt-responsive nowrap table-card-list"
                style="border-spacing: 0 12px; width: 100%;">
                <thead>
                  <tr class="bg-transparent">
<!--                     <th style="width: 24px;">
                      <div class="form-check text-center font-size-16">
                        <input type="checkbox" class="form-check-input" id="ordercheck">
                        <label class="form-check-label" for="ordercheck"></label>
                      </div>
                    </th> -->
                    <th scope="col" sortable="id" (sort)="onSort($event)">Ord.</th>
                    <th scope="col" sortable="fecha" (sort)="onSort($event)">Fecha</th>
                    <th scope="col" sortable="ingreso" (sort)="onSort($event)">Ingreso</th>
                    <th scope="col" sortable="egreso" (sort)="onSort($event)">Egreso</th>
                    <th scope="col" sortable="status" (sort)="onSort($event)">Estado</th>
                    <th style="width: 170px;">Action</th>
                  </tr>
                </thead>
                <tbody>
  
                  <tr *ngFor="let data of transactions$ | async" class="odd">
  
<!--                     <td>
                      <div class="form-check text-center">
                        <input id="ordercheck{{data.index}}" type="checkbox" class="form-check-input" />
                        <label class="form-check-label" for="ordercheck{{data.index}}">&nbsp;</label>
                      </div>
                    </td> -->
                    <td>
                      <ngb-highlight [result]="data.id" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="data.fecha" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="data.ingreso" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="data.egreso" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      
                      <span class="badge rounded-pill bg-soft-success font-size-12" [ngClass]=" { 'bg-soft-danger': data.status === 'perdida',
                                'bg-soft-warning':data.status === 'igualdad' }">{{data.status}}</span>
                    </td>
                    <td>
                      <a (click)="scrollModal(scrollDataModal)" class="px-3 text-primary" placement="top" ngbTooltip="Ver detalle"><i
                          class="uil uil-eye font-size-18"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>

        <!-- End table -->
        <div class="row justify-content-md-between align-items-md-center">
            <!-- <div class="col-sm-12 col-md-5">
            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Page 2 of 84</div>
            </div> -->
            <!-- Pagination -->
            <div class="col-12">
            <div class="text-md-end float-md-end pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
                </ngb-pagination>
            </div>
            </div>
            <!-- End Pagination -->
        </div>
  
      </div>
    </div>



    <!-- Scrollable Modal - Ver Detalle Caja por Día-->
    <ng-template #scrollDataModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title mt-0">Detalle de Caja: 25 Jul. 2023</h5>
        <button type="button" class="btn-close" (click)="closeEventModalGeneral()" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="flex-1 align-self-center">
                        <div class="row">
                            <div class="col-6">
                                <div class="mt-1">
                                    <p class="text-muted mb-2">Ingreso</p>
                                    <h4 class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                      class="mdi mdi-arrow-up-bold me-1"></i>S/ 500.00</span></h4>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mt-1">
                                    <p class="text-muted mb-2">Egreso</p>
                                    <h4 class="text-muted mt-3 mb-0"><span class="text-danger me-1"><i
                                      class="mdi mdi-arrow-down-bold me-1"></i>S/ 500.00</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-6">
                <h6>Ingresos Físico: S/ 000.00</h6>
              </div>
              <div class="col-6">
                <h6>Ingresos Virtual: S/ 000.00</h6>
              </div>
            </div>
            <div class="table-responsive mb-4">
              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <form>
                  <table class="table table-centered dt-responsive nowrap table-card-list"
                    style="border-spacing: 0 12px; width: 100%;">
                    <thead class="table-light">
                      <tr class="bg-transparent">
                        <th scope="col" sortable="amount" (sort)="onSort($event)">Monto</th>
                        <th scope="col" sortable="type" (sort)="onSort($event)">Método</th>
                        <th scope="col" sortable="description" (sort)="onSort($event)">Descripción</th>
                        <th scope="col" sortable="date" (sort)="onSort($event)">Fecha</th>
                        <th scope="col" sortable="name" (sort)="onSort($event)">Usuario</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of ingresos$ | async">
                        <td>
                          <ngb-highlight [result]="data.monto|currency:'S/.'" [term]="serviceI.searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.descripcion" [term]="serviceI.searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.fecha_creacion_caja| date: 'dd/MM/yyyy'" [term]="serviceI.searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.encargado" [term]="serviceI.searchTerm"></ngb-highlight>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- End table -->
                  <div class="row justify-content-md-between align-items-md-center">
                    <!-- <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Page 2 of 84</div>
                    </div> -->
                    <!-- Pagination -->
                    <div class="col-12">
                      <div class="text-md-end float-md-end pagination-rounded">
                        <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
                        </ngb-pagination>
                      </div>
                    </div>
                    <!-- End Pagination -->
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>


        <div class="row mb-3">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-6">
                <h6>Egresos Físico: S/ 000.00</h6>
              </div>
              <div class="col-6">
                <h6>Egresos Virtual: S/ 000.00</h6>
              </div>
            </div>
            <div class="table-responsive mb-4">
              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <form>
                  <table class="table table-centered dt-responsive nowrap table-card-list"
                    style="border-spacing: 0 12px; width: 100%;">
                    <thead class="table-light">
                      <tr class="bg-transparent">
                        <th scope="col" sortable="amount" (sort)="onSortE($event)">Monto</th>
                        <th scope="col" sortable="type" (sort)="onSort($event)">Método</th>
                        <th scope="col" sortable="description" (sort)="onSortE($event)">Descripción</th>
                        <th scope="col" sortable="date" (sort)="onSortE($event)">Fecha</th>
                        <th scope="col" sortable="name" (sort)="onSortE($event)">Usuario</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of egresos$ | async">
                        <td>
                          <ngb-highlight [result]="data.monto|currency:'S/.'" [term]="serviceE.searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.descripcion" [term]="serviceE.searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.fecha_creacion_caja| date: 'dd/MM/yyyy'" [term]="serviceE.searchTerm"></ngb-highlight>
                        </td>
                        <td>
                          <ngb-highlight [result]="data.encargado" [term]="serviceE.searchTerm"></ngb-highlight>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- End table -->
                  <div class="row justify-content-md-between align-items-md-center">
                    <!-- <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Page 2 of 84</div>
                    </div> -->
                    <!-- Pagination -->
                    <div class="col-12">
                      <div class="text-md-end float-md-end pagination-rounded">
                        <ngb-pagination [collectionSize]="totalE$ | async" [(page)]="service.page" [pageSize]="service.pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
                        </ngb-pagination>
                      </div>
                    </div>
                    <!-- End Pagination -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeEventModalGeneral()">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </ng-template>

  </div>