<div class="container-fluid">
    <app-page-title title="Listas de Registro de Ingresos y Egresos" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row mt-2 mb-2">
        <div class="col-sm-12 col-md-8 justify-content-start">
          <div class="row mb-2">
            <div class="col-md-8 search-box chat-search-box">
              <div class="position-relative">
                <input type="text" class="form-control border-light rounded" placeholder="Buscar registro" name="searchTerm"
                  aria-controls="tickets-table" [(ngModel)]="service.searchTerm">
                <i class="uil uil-search search-icon"></i>
              </div>
            </div>
    <!--         <div class="col-4">
              <div class="btn-group text-md-start">
                <button type="button" class="btn btn-primary"><i class="uil uil-import" ngbTooltip="Exportar"></i></button>
                <button type="button" class="btn btn-primary"><i class="uil uil-export" ngbTooltip="Importar"></i></button>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-sm-12 col-md-4 text-md-end">
          <div class="dataTables_length"><label class="d-inline-flex align-items-center">Mostrar<select name="pageSize"
                [(ngModel)]="service.pageSize"
                class="custom-select custom-select-sm form-control form-control-sm form-select form-select-sm">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
              </select> entradas</label></div>
        </div>
      </div>
  
    <div class="row">
      <div class="col-12">
        <div class="table-responsive mb-4">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <form>
  
              <table class="table table-centered datatables dt-responsive nowrap table-card-list"
                style="border-spacing: 0 12px; width: 100%;">
                <thead>
                  <tr class="bg-transparent">
<!--                     <th style="width: 24px;">
                      <div class="form-check text-center font-size-16">
                        <input type="checkbox" class="form-check-input" id="ordercheck">
                        <label class="form-check-label" for="ordercheck"></label>
                      </div>
                    </th> -->
                    <th scope="col" sortable="id" (sort)="onSort($event)">Ord.</th>
                    <th scope="col" sortable="fecha" (sort)="onSort($event)">Fecha</th>
                    <th scope="col" sortable="ingreso" (sort)="onSort($event)">Ingreso</th>
                    <th scope="col" sortable="egreso" (sort)="onSort($event)">Egreso</th>
                    <th scope="col" sortable="status" (sort)="onSort($event)">Estado</th>
                    <th style="width: 170px;">Action</th>
                  </tr>
                </thead>
                <tbody>
  
                  <tr *ngFor="let data of transactions$ | async" class="odd">
  
<!--                     <td>
                      <div class="form-check text-center">
                        <input id="ordercheck{{data.index}}" type="checkbox" class="form-check-input" />
                        <label class="form-check-label" for="ordercheck{{data.index}}">&nbsp;</label>
                      </div>
                    </td> -->
                    <td>
                      <ngb-highlight [result]="data.id" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="data.fecha" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="data.ingreso" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="data.egreso" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      
                      <span class="badge rounded-pill bg-soft-success font-size-12" [ngClass]=" { 'bg-soft-danger': data.status === 'perdida',
                                'bg-soft-warning':data.status === 'igualdad' }">{{data.status}}</span>
                    </td>
                    <td>
                      <a (click)="scrollModal(scrollDataModal)" class="px-3 text-primary" placement="top" ngbTooltip="Ver detalle"><i
                          class="uil uil-eye font-size-18"></i></a>
                      <a href="javascript:void(0);" class="px-3 text-danger" placement="top" ngbTooltip="Eliminar"><i
                          class="uil uil-trash-alt font-size-18"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>

        <!-- End table -->
        <div class="row justify-content-md-between align-items-md-center">
            <!-- <div class="col-sm-12 col-md-5">
            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Page 2 of 84</div>
            </div> -->
            <!-- Pagination -->
            <div class="col-12">
            <div class="text-md-end float-md-end pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
                </ngb-pagination>
            </div>
            </div>
            <!-- End Pagination -->
        </div>
  
      </div>
    </div>



    <!-- Scrollable Modal - Ver Detalle Caja por Día-->
    <ng-template #scrollDataModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title mt-0">Scrollable Modal</h5>
        <button type="button" class="btn-close" (click)="closeEventModalGeneral()" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
          eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
          laoreet rutrum faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
          consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
          eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
          laoreet rutrum faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
          consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
          eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
          laoreet rutrum faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
          consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
          eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
          laoreet rutrum faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
          consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
          eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
          laoreet rutrum faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
          consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
          eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
          laoreet rutrum faucibus dolor auctor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
          consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeEventModalGeneral()">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </ng-template>

  </div>