<div class="container-fluid">
  <app-page-title title="Registrar Nuevo Cliente" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <!-- SECCION DE NUEVA VISTA (ESTA EN EVALUACION DE SER APROBADO)  -->
  <form [formGroup]="formCustomer">
    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <div class="p-3 px-4">
                <div class="d-flex align-items-start">
                  <div class="align-self-center me-3">
                    <i class="uil uil-file-bookmark-alt text-primary h2"></i>
                  </div>
                  <div class="flex-1">
                    <h5 class="font-size-16 mb-1">Información del Cliente</h5>
                    <p class="font-size-14 text-muted text-truncate mb-0">
                      Datos básicos del nuevo cliente.
                    </p>
                  </div>
                </div>
              </div>
            </h4>
           <p class="card-title-desc text-danger">* Campo requerido</p> 
            <div class="border-top py-4">
              <div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="billing-dni">DNI *</label>
                      <input type="text" class="form-control" id="billing-dni" placeholder="DNI del Cliente"
                        formControlName="{{this.dni}}"
                        [ngClass]="{'is-invalid': formC.campoDNI.invalid && (formC.campoDNI.dirty || formC.campoDNI.touched)}" />
                      <div class="invalid-feedback">
                        <div *ngIf="formC.campoDNI.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formC.campoDNI.errors?.pattern">
                          Ingrese solo números
                        </div>
                        <div *ngIf="formC.campoDNI.errors?.min">
                          Número de dígitos menor
                        </div>
                        <div *ngIf="formC.campoDNI.errors?.max">
                          Número de dígitos mayor
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="billing-fecharegistro">Fecha de Registro</label>
                      <input type="text" class="form-control" id="billing-fecharegistro"
                        placeholder="Seleccione la fecha" formControlName="{{this.fecha_creacion}}" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="billing-firstnames">Nombres *</label>
                      <input type="text" class="form-control" id="billing-firstnames" placeholder="Nombres del Cliente"
                        formControlName="{{this.nombres}}"
                        [ngClass]="{'is-invalid': formC.campoNombres.invalid && (formC.campoNombres.dirty || formC.campoNombres.touched)}" />
                      <div class="invalid-feedback">
                        <div *ngIf="formC.campoNombres.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formC.campoNombres.errors?.pattern">
                          Ingrese solo letras
                        </div>
                        <div *ngIf="formC.campoNombres.errors?.minlength">
                          Los nombres debe ser mayor a 3 caracteres
                        </div>
                        <div *ngIf="formC.campoNombres.errors?.maxlength">
                          Los nombres debe ser menor a 40 caracteres
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="billing-lastnames">Apellidos *</label>
                      <input type="text" class="form-control" id="billing-lastnames" placeholder="Apellidos del Cliente"
                        formControlName="{{this.apellidos}}"
                        [ngClass]="{'is-invalid': formC.campoApellidos.invalid && (formC.campoApellidos.dirty || formC.campoApellidos.touched)}" />
                      <div class="invalid-feedback">
                        <div *ngIf="formC.campoApellidos.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formC.campoApellidos.errors?.pattern">
                          Ingrese solo letras
                        </div>
                        <div *ngIf="formC.campoApellidos.errors?.minlength">
                          Los apellidos debe ser mayor a 3 caracteres
                        </div>
                        <div *ngIf="formC.campoApellidos.errors?.maxlength">
                          Los apellidos debe ser menor a 40 caracteres
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-3">
                    <div class="mb-4">
                      <label class="form-label" for="billing-fechanacimiento">Fecha de Nacimiento</label>
                      <input type="date" class="form-control" id="billing-fechanacimiento"
                        placeholder="Seleccione la fecha" formControlName="{{this.fecha_nacimiento}}" />
                    </div>
                  </div>
                  <div class="col-12 col-sm-3">
                    <div class="mb-4">
                      <label class="form-label" for="billing-phone">Teléfono</label>
                      <input type="text" class="form-control" id="billing-phone" placeholder="Teléfono del Cliente"
                        formControlName="{{this.telefono}}"
                        [ngClass]="{'is-invalid': formC.campoTelefono.invalid && (formC.campoTelefono.dirty || formC.campoTelefono.touched)}" />
                      <div class="invalid-feedback">
                        <div *ngIf="formC.campoTelefono.errors?.pattern">
                          Ingrese solo números
                        </div>
                        <div *ngIf="formC.campoTelefono.errors?.min">
                          Número de dígitos menor
                        </div>
                        <div *ngIf="formC.campoTelefono.errors?.max">
                          Número de dígitos mayor
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="billing-email-address">Correo Electrónico</label>
                      <input type="email" class="form-control" id="billing-email-address"
                        placeholder="Correo electrónico" formControlName="{{this.email}}"
                        [ngClass]="{'is-invalid': formC.campoEmail.invalid && (formC.campoEmail.dirty || formC.campoEmail.touched)}" />
                      <div class="invalid-feedback">
                        <div *ngIf="formC.campoEmail.errors?.email">
                          Email invalido
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="billing-direccion">Dirección</label>
                      <textarea class="form-control" id="billing-direccion" rows="3"
                        placeholder="Ingrese la dirección completa del cliente"
                        formControlName="{{this.direccion}}"></textarea>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="billing-antecedentes">Antecedentes</label>
                      <textarea class="form-control" id="billing-antecedentes" rows="3"
                        placeholder="Ingrese los antecedentes del cliente"
                        formControlName="{{this.antecedentes}}"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end card -->
      </div> <!-- end col -->
      <div class="col-xl-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <div class="p-3 px-4">
                <div class="d-flex align-items-start">
                  <div class="align-self-center me-3">
                    <i class="uil uil-receipt text-primary h2"></i>
                  </div>
                  <div class="flex-1">
                    <h5 class="font-size-16 mb-1">Especificaciones de las Medidas</h5>
                    <p class="font-size-14 text-muted text-truncate mb-0">
                      Valores de medición del ojo derecho e izquierdo del cliente.
                    </p>
                  </div>
                </div>
              </div>
            </h4>
            <!-- <p class="card-title-desc text-danger">* Campo requerido</p>  -->
            <div class="border-top py-4">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <h5 class="font-size-14 mb-3 d-flex justify-content-center">Ojo Derecho</h5>
                  <div class="row">
                    <div class="col-4">
                      <div class="mb-4">
                        <label class="form-label" for="billing-OD-ESF">ESF</label>
                        <input type="text" class="form-control" id="billing-OD-ESF" placeholder="Esfera"
                          formControlName="{{this.od_esferico}}" [ngClass]="{'is-invalid': formC.campoOdEsferico.invalid && (formC.campoOdEsferico.dirty || formC.campoOdEsferico.touched)}" />
                        <div class="invalid-feedback">
                          <div *ngIf="formC.campoOdEsferico.errors?.pattern">
                            Formato mal escrito: de -20.00 a +20.00
                          </div>
                          <div *ngIf="formC.campoOdEsferico.errors?.min">
                            Número menor.
                          </div>
                          <div *ngIf="formC.campoOdEsferico.errors?.max">
                            Número mayor.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="mb-4">
                        <label class="form-label" for="billing-OD-CYL">CYL</label>
                        <input type="text" class="form-control" id="billing-OD-CYL" placeholder="Cilindro"
                          formControlName="{{this.od_cilindrico}}" [ngClass]="{'is-invalid': formC.campoOd_Cilindrico.invalid && (formC.campoOd_Cilindrico.dirty || formC.campoOd_Cilindrico.touched)}" />
                        <div class="invalid-feedback">
                          <div *ngIf="formC.campoOd_Cilindrico.errors?.pattern">
                            Formato mal escrito: de -20.00 a +20.00
                          </div>
                          <div *ngIf="formC.campoOd_Cilindrico.errors?.min">
                            Número menor.
                          </div>
                          <div *ngIf="formC.campoOd_Cilindrico.errors?.max">
                            Número mayor.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="mb-4">
                        <label class="form-label" for="billing-OD-EJE">EJE</label>
                        <input type="text" class="form-control" id="billing-OD-EJE" placeholder="Eje"
                          formControlName="{{this.od_eje}}" [ngClass]="{'is-invalid': formC.campoOdEje.invalid && (formC.campoOdEje.dirty || formC.campoOdEje.touched)}" />
                        <div class="invalid-feedback">
                          <div *ngIf="formC.campoOdEje.errors?.min">
                            Número menor, mínimo permitido 0.
                          </div>
                          <div *ngIf="formC.campoOdEje.errors?.max">
                            Número mayor, máximo permitido 180.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <h5 class="font-size-14 mb-3 d-flex justify-content-center">Ojo Izquierdo</h5>
                  <div class="row">
                    <div class="col-4">
                      <div class="mb-4">
                        <label class="form-label" for="billing-OI-ESF">ESF</label>
                        <input type="text" class="form-control" id="billing-phone" placeholder="Esfera"
                          formControlName="{{this.oi_esferico}}" [ngClass]="{'is-invalid': formC.campoOiEsferico.invalid && (formC.campoOiEsferico.dirty || formC.campoOiEsferico.touched)}" />
                        <div class="invalid-feedback">
                          <div *ngIf="formC.campoOiEsferico.errors?.pattern">
                            Formato mal escrito: de -20.00 a +20.00
                          </div>
                          <div *ngIf="formC.campoOiEsferico.errors?.min">
                            Número menor.
                          </div>
                          <div *ngIf="formC.campoOiEsferico.errors?.max">
                            Número mayor.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="mb-4">
                        <label class="form-label" for="billing-OI-CYL">CYL</label>
                        <input type="text" class="form-control" id="billing-OI-CYL" placeholder="Cilindro"
                          formControlName="{{this.oi_cilindrico}}" [ngClass]="{'is-invalid': formC.campoOiCilindrico.invalid && (formC.campoOiCilindrico.dirty || formC.campoOiCilindrico.touched)}" />
                        <div class="invalid-feedback">
                          <div *ngIf="formC.campoOiCilindrico.errors?.pattern">
                            Formato mal escrito: de -20.00 a +20.00
                          </div>
                          <div *ngIf="formC.campoOiCilindrico.errors?.min">
                            Número menor.
                          </div>
                          <div *ngIf="formC.campoOiCilindrico.errors?.max">
                            Número mayor.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="mb-4">
                        <label class="form-label" for="billing-OI-EJE">EJE</label>
                        <input type="text" class="form-control" id="billing-OI-EJE" placeholder="Eje"
                          formControlName="{{this.oi_eje}}" [ngClass]="{'is-invalid': formC.campoOiEje.invalid && (formC.campoOiEje.dirty || formC.campoOiEje.touched)}" />
                        <div class="invalid-feedback">
                          <div *ngIf="formC.campoOiEje.errors?.min">
                            Número menor, mínimo permitido 0.
                          </div>
                          <div *ngIf="formC.campoOiEje.errors?.max">
                            Número mayor, máximo permitido 180.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <h5 class="font-size-14 mb-3 d-flex justify-content-center">Otros</h5> -->
              <div class="row">
                <div class="col-6 col-sm-2">
                  <div class="mb-4">
                    <label class="form-label" for="billing-DIP">DIP</label>
                    <input type="text" class="form-control" id="billing-DIP" placeholder="Distancia Interpupilar"
                      formControlName="{{this.dip}}" [ngClass]="{'is-invalid': formC.campoDip.invalid && (formC.campoDip.dirty || formC.campoDip.touched)}" />
                    <div class="invalid-feedback">
                      <div *ngIf="formC.campoDip.errors?.min">
                        Número menor, mínimo permitido 0.
                      </div>
                      <div *ngIf="formC.campoDip.errors?.max">
                        Número mayor, máximo permitido 80.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-2">
                  <div class="mb-4">
                    <label class="form-label" for="billing-ADD">ADD</label>
                    <input type="text" class="form-control" id="billing-ADD" placeholder="Adición"
                      formControlName="{{this.add}}" [ngClass]="{'is-invalid': formC.campoAdd.invalid && (formC.campoAdd.dirty || formC.campoAdd.touched)}" />
                    <div class="invalid-feedback">
                      <div *ngIf="formC.campoAdd.errors?.pattern">
                        Formato mal escrito: de +0.00 a +10.00
                      </div>
                      <div *ngIf="formC.campoAdd.errors?.min">
                        Número menor.
                      </div>
                      <div *ngIf="formC.campoAdd.errors?.max">
                        Número mayor.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-8">
                  <div class="mb-4">
                    <label class="form-label" for="billing-encargado-medicion">Encargado de la
                      Medición</label>
                    <input type="text" class="form-control" id="billing-encargado-medicion" placeholder="Encargado"
                      formControlName="{{this.encargado}}"
                      [ngClass]="{'is-invalid': formC.campoEncargado.invalid && (formC.campoEncargado.dirty || formC.campoEncargado.touched)}" />
                    <div class="invalid-feedback">
                      <div *ngIf="formC.campoEncargado.errors?.pattern">
                        Ingrese solo letras.
                      </div>
                      <div *ngIf="formC.campoEncargado.errors?.minlength">
                        El campo debe ser mayor a 3 caracteres.
                      </div>
                      <div *ngIf="formC.campoEncargado.errors?.maxlength">
                        El campo debe ser menor a 40 caracteres.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end card -->
      </div> <!-- end col -->
    </div>
  </form>
  <div class="row my-2">
    <div class="col">
      <div class="text-sm-end mt-2 mt-sm-0">
        <button class="btn btn-success" (click)="guardarCliente()" [disabled]="!formCustomer.valid">
          <i class="uil uil-user-plus me-1"></i> Registar Cliente
        </button>
      </div>
    </div>
  </div>
</div>