<div class="container-fluid">
  <app-page-title title="Añadir un Producto" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row mb-4">
    <div class="col-xl-12">
      <div class="card mb-0">
        <div class="row">
          <!-- Search -->
          <div class="col-sm-12 col-md-12 search-box chat-search-box">
            <div class="position-relative">
              <ng-autocomplete #autocomplete [data]="listAllProducts" [searchKeyword]="keyword" placeholder="Buscar productos"
                (selected)="selectEvent($event)" (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)' historyIdentifier="" [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate" (keyup.enter)="selectEvent($event)" focusFirst="true">
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.codigo_interno"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
          <!-- End search -->
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <h4>Total de la Venta: PEN {{getTotalCost()|currency:'S/.'}}</h4>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Lista de Productos</h4>
          <div class="table-responsive">
            <form>
              <table class="table table-centered dt-responsive table-nowrap mb-0 align-middle "
                style="border-spacing: 0 12px; width: 100%;">
                <thead class="table-light">
                  <tr class="bg-transparent">
                    <th>ID Producto</th>
                    <th>Tipo</th>
                    <th>Detalle</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of products; let i = index">
                    <td>
                      <ngb-highlight [result]="i+1"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="item.tipo"></ngb-highlight>
                    </td>
                    <td *ngIf="item.tipo == 'montura'">
                      <ngb-highlight [result]="item.material"></ngb-highlight>&nbsp;
                      <ngb-highlight [result]="item.marca"></ngb-highlight>
                    </td>
                    <td *ngIf="item.tipo == 'luna'">
                      <ngb-highlight [result]="item.material"></ngb-highlight>
                    </td>
                    <td *ngIf="item.tipo == 'accesorio'">
                      <ngb-highlight [result]="item.nombre_accesorio"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="item.num"></ngb-highlight>
                    </td>
                    <td *ngIf="item.tipo == 'montura'">
                      <ngb-highlight [result]="item.precio_montura_v"></ngb-highlight>
                    </td>
                    <td *ngIf="item.tipo == 'luna'">
                      <ngb-highlight [result]="item.precio_luna_v"></ngb-highlight>
                    </td>
                    <td *ngIf="item.tipo == 'accesorio'">
                      <ngb-highlight [result]="item.precio_accesorio_v"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="item.precio"></ngb-highlight>
                    </td>
                    <td>
                      <a class="px-2 text-warning" placement="top" ngbTooltip="Disminuir"><i
                          class="uil uil-minus-circle font-size-18" (click)="substractQuantityProduct($event,i)"></i></a>
                      <a class="px-2 text-success" placement="top" ngbTooltip="Agregar"><i
                          class="uil uil-plus-circle font-size-18" name="quantity" ngDefaultControl
                          [(ngModel)]="item.num" min="0"
                          (click)="addQuantityProduct($event,i)"></i></a>
                      <a href="javascript:void(0);" class="px-2 text-primary" placement="top" ngbTooltip="Editar"><i
                          class="uil uil-pen font-size-18"></i></a>
                      <a class="px-2 text-danger" placement="top" ngbTooltip="Eliminar"><i
                          class="uil uil-trash-alt font-size-18" (click)="removeCartProduct($event,i)"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
          <!-- end table -->
        </div>
      </div>
    </div>
  </div>
  <div class="text-end mt-2">
    <button type="submit" class="btn btn-success ms-1" id="btn-save-event" (click)="centerModal(centerDataModalGuardar2,products)" [disabled]="!btnGuardar"> 
      <i class="uil uil-shopping-cart-alt mt-2 me-1"></i>
      Guardar
    </button>
    <button type="submit" class="btn btn-primary ms-1" id="btn-save-event" (click)="createPDF()"> 
      <i class="uil uil-shopping-cart-alt mt-2 me-1"></i>
      PDF
    </button>
  </div>
</div>


<!-- Editar Precio - Center Modal -->
<ng-template #centerDataModalEditar let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">Cambio de Precio</h5>
    <button type="button" class="btn-close" (click)="closeEventModal()">
    </button>
  </div>
  <div class="modal-body p-4">
    <form (ngSubmit)="saveEvent()" [formGroup]="formEditar">
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">Precio Original</label>
            <input class="form-control" placeholder="PEN 000.00" type="text" name="namePrecioOriginalEditar"
              formControlName="{{this.precioOriginal_Editar}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">Fecha de Cambio</label>
            <input class="form-control" placeholder="Seleccione la fecha" type="text" name="nameFechaCambioEditar"
              formControlName="{{this.fechaCambio_Editar}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Nuevo Precio de Venta</label>
            <input class="form-control" placeholder="Escriba el nuevo precio de venta" type="text" name="nameNuevoPrecioEditar"
              formControlName="{{this.nuevoPrecio_Editar}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
          </div>
        </div>
      </div>

      <div class="text-end mt-2">
        <button type="button" class="btn btn-danger" (click)="closeEventModal()">
          Cerrar
        </button>
        <button type="submit" class="btn btn-success ms-1" (click)="closeEventModal()" id="btn-save-event">
          Guardar
        </button>
      </div>
    </form>
  </div>
  <!-- end modal dialog-->
</ng-template>
<!-- end modal-->


<!-- Guardar Venta 2 - Center Modal -->
<ng-template #centerDataModalGuardar2 let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">Registrar Venta</h5>
    <button type="button" class="btn-close" (click)="closeEventModal()">
    </button>
  </div>
  <div class="modal-body p-4">
      <div class="col-lg-14">
        <ul ngbNav #justifiednavpills="ngbNav" [activeId]="activePago" class="nav-pills nav-justified bg-light" (navChange)="selectorMetodoPago($event)">
          <li [ngbNavItem]="1">
            <a ngbNavLink>
              <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
              <span class="d-none d-sm-block">Al Contado</span>
            </a>
            <ng-template ngbNavContent>
              



              <form (ngSubmit)="saveEvent()" [formGroup]="formContado">
                <div class="row mt-4">
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Cantidad Recibida</label>
                      <input class="form-control" placeholder="Cantidad en soles" type="text" name="nameCantidadRecibidaContado" (change)="updatePago($event)"
                        formControlName="{{this.cantidadRecibida_Contado}}"/>
                        <div class="text-danger" *ngIf="formContado.controls['campoCantidadRecibidaContado'].invalid && (formContado.controls['campoCantidadRecibidaContado'].dirty || formContado.controls['campoCantidadRecibidaContado'].touched)">                 
                          <div class="text-danger" *ngIf="formContado.controls['campoCantidadRecibidaContado'].errors.required">
                            Campo requerido
                          </div>
                          <div class="text-danger" *ngIf="formContado.controls['campoCantidadRecibidaContado'].errors.pattern">
                            Ingrese solo números
                          </div> 
                        </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="form-label">Método</label>
                      <ng-select name="selectMetodo" [items]="listMetodosPagos" formControlName="{{this.metodoPagoContado}}" placeholder="Seleccione">
                      </ng-select>
                      <div class="text-danger" *ngIf="formContado.controls['campoMetodoPagoContado'].invalid && (formContado.controls['campoMetodoPagoContado'].dirty || formContado.controls['campoMetodoPagoContado'].touched)">                 
                        <div class="text-danger" *ngIf="formContado.controls['campoMetodoPagoContado'].errors.required">
                          Campo requerido
                        </div> 
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Fecha</label>
                      <input class="form-control" placeholder="Seleccione la fecha" type="text" name="nameFechaRegistroContado"
                        formControlName="{{this.fechaVenta_Contado}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                      <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                        <span *ngIf="form.title.errors.required">This value is required.</span>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12">
                    <div class="mb-3">
                      <label class="control-label">Buscar o Crear nuevo Cliente</label>
                      <ng-autocomplete [data]="listClients" [searchKeyword]="keywordCliente" placeholder="Apellidos del cliente"
                      (selected)="selectEventCliente($event)"  historyIdentifier="" [itemTemplate]="itemTemplate3" formControlName="{{this.nombreContado}}"
                      [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>

                    <ng-template #itemTemplate3 let-item>
                      <a [innerHTML]="item.nombres_apellidos"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                    </div>
                  </div>
                </div>
          
                <div class="row">
                  <div class="col-12">
                    <label class="control-label" style="text-align: left;">Montos:</label>
                  </div>
                </div>
          
                <div class="row">
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Total</label>
                      <input class="form-control" placeholder="S/ 000.00" type="text" name="nameTotalContado"
                        formControlName="{{this.precioTotal_Contado}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Pago</label>
                      <input class="form-control" placeholder="S/ 000.00" type="text" name="namePagoContado"
                        formControlName="{{this.pago_Contado}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Cambio</label>
                      <input class="form-control" placeholder="S/ 000.00" type="text" name="nameCambioContado"
                        formControlName="{{this.cambio_Contado}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                    </div>
                  </div>
                </div>
          
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mb-4">
                      <label class="form-label" for="billing-observaciones">Observaciones</label>
                      <textarea class="form-control" id="billing-observaciones" rows="3"
                        placeholder="Ingrese las observaciones" formControlName="{{this.observaciones_Contado}}"></textarea>
                    </div>
                  </div>
                </div>
          
                <div class="text-end mt-2">
                  <button type="button" class="btn btn-danger" (click)="closeEventModal()">
                    Cerrar
                  </button>
                  <button type="submit" class="btn btn-success ms-1" (click)="guardarVenta()" [disabled]="!formContado.valid" id="btn-save-event">
                    Registrar Venta
                  </button>
                </div>
              </form>



            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>
              <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
              <span class="d-none d-sm-block">Al Crédito</span>
            </a>
            <ng-template ngbNavContent>



              <form (ngSubmit)="saveEvent()" [formGroup]="formCredito">
                <div class="row mt-4">
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Cantidad Recibida</label>
                      <input class="form-control" placeholder="Cantidad en soles" type="text" name="nameCantidadRecibidaCredito" (change)="updatePago($event)"
                        formControlName="{{this.cantidadRecibida_Credito}}" />
                        <div class="text-danger" *ngIf="formCredito.controls['campoCantidadRecibidaCredito'].invalid && (formCredito.controls['campoCantidadRecibidaCredito'].dirty || formCredito.controls['campoCantidadRecibidaCredito'].touched)">                 
                          <div class="text-danger" *ngIf="formCredito.controls['campoCantidadRecibidaCredito'].errors.required">
                            Campo requerido
                          </div>
                          <div class="text-danger" *ngIf="formCredito.controls['campoCantidadRecibidaCredito'].errors.pattern">
                            Ingrese solo números
                          </div> 
                        </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="form-label">Método</label>
                      <ng-select name="selectMetodo" [items]="listMetodosPagos" formControlName="{{this.metodoPagoCredito}}" placeholder="Seleccione">
                      </ng-select>
                      <div class="text-danger" *ngIf="formCredito.controls['campoMetodoPagoCredito'].invalid && (formCredito.controls['campoMetodoPagoCredito'].dirty || formCredito.controls['campoMetodoPagoCredito'].touched)">                 
                        <div class="text-danger" *ngIf="formCredito.controls['campoMetodoPagoCredito'].errors.required">
                          Campo requerido
                        </div> 
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Fecha</label>
                      <input class="form-control" placeholder="Seleccione la fecha" type="text" name="nameFechaRegistroCredito"
                        formControlName="{{this.fechaVenta_Credito}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                      <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                        <span *ngIf="form.title.errors.required">This value is required.</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="mb-3">
                      <label class="control-label">Número de Cuotas</label>
                      <div class="p-3">
                        <ng5-slider [(value)]="tickValue" [options]="tickValueoptions" ></ng5-slider>
                      </div>
                    </div>
                  </div>
                </div>
                
          
                <div class="row">
                  <div class="col-12">
                    <div class="mb-3">
                      <label class="control-label">Buscar o Crear nuevo Cliente</label>
                      <ng-autocomplete [data]="listClients" [searchKeyword]="keywordCliente" placeholder="Apellidos del cliente"
                      (selected)="selectEventCliente($event)"  historyIdentifier="" [itemTemplate]="itemTemplate2"
                      [notFoundTemplate]="notFoundTemplate" formControlName="{{this.nombreCredito}}">
                    </ng-autocomplete>
                    <ng-template #itemTemplate2 let-item>
                      <a [innerHTML]="item.nombres_apellidos"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                    </div>
                  </div>
                </div>
          
                <div class="row">
                  <div class="col-12">
                    <label class="control-label" style="text-align: left;">Montos:</label>
                  </div>
                </div>
          
                <div class="row">
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Total</label>
                      <input class="form-control" placeholder="S/ 000.00" type="text" name="nameTotalCredito"
                        formControlName="{{this.precioTotal_Credito}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Pago</label>
                      <input class="form-control" placeholder="S/ 000.00" type="text" name="namePagoCredito"
                        formControlName="{{this.pago_Credito}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Cambio</label>
                      <input class="form-control" placeholder="S/ 000.00" type="text" name="nameCambioCredito"
                        formControlName="{{this.cambio_Credito}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                    </div>
                  </div>
                </div>
          
                <div class="row">
                  <div class="col-lg-12">
                    <div class="mb-4">
                      <label class="form-label" for="billing-observaciones">Observaciones</label>
                      <textarea class="form-control" id="billing-observaciones" rows="3"
                        placeholder="Ingrese las observaciones" formControlName="{{this.observaciones_Credito}}"></textarea>
                    </div>
                  </div>
                </div>
          
                <div class="text-end mt-2">
                  <button type="button" class="btn btn-danger" (click)="closeEventModal()">
                    Cerrar
                  </button>
                  <button type="submit" class="btn btn-success ms-1" (click)="guardarVenta()" [disabled]="!formCredito.valid" id="btn-save-event">
                    Registrar Venta
                  </button>
                </div>
              </form>

            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="justifiednavpills"></div>
      </div><!-- End Justified Tabs -->

  </div>
  <!-- end modal dialog-->
</ng-template>
<!-- end modal-->





<!-- Scrollable Modal -->
<ng-template #scrollDataModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Factura de Venta</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">

    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="invoice-title">
              <h4 class="float-end font-size-16">Factura #MN0131 <span
                  class="badge bg-success font-size-12 ms-2">Paid</span></h4>
              <div class="mb-4">
                <img src="assets/images/logo-dark.png" alt="logo" height="20" />
              </div>
              <div class="text-muted">
                <p class="mb-1"><i class="uil uil-map-marker me-1"></i>641 Counts Lane Wilmore, KY 40390</p>
                <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> abc@123.com</p>
                <p><i class="uil uil-phone me-1"></i> 012-345-6789</p>
              </div>
            </div>

            <hr class="my-4">

            <div class="row">
              <div class="col-sm-6">
                <div class="text-muted">
                  <h5 class="font-size-16 mb-3">Facturado a:</h5>
                  <h5 class="font-size-15 mb-2">Preston Miller</h5>
                  <p class="mb-1">4450 Fancher Drive Dallas, TX 75247</p>
                  <p class="mb-1">PrestonMiller@armyspy.com</p>
                  <p>001-234-5678</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="text-muted text-sm-end">
                  <div>
                    <h5 class="font-size-16 mb-1">Nº de Factura:</h5>
                    <p>#MN0131</p>
                  </div>
                  <div class="mt-4">
                    <h5 class="font-size-16 mb-1">Fecha de la Factura:</h5>
                    <p>09 Jul, 2020</p>
                  </div>
                  <div class="mt-4">
                    <h5 class="font-size-16 mb-1">Nº de pedido:</h5>
                    <p>#1123456</p>
                  </div>
                </div>
              </div>
            </div>


            <div class="py-2">
              <h5 class="font-size-15">Resumen del Pedido</h5>

              <div class="table-responsive">
                <table class="table table-nowrap table-centered mb-0">
                  <thead>
                    <tr>
                      <th style="width: 70px;">No.</th>
                      <th>Detalle</th>
                      <th>Precio</th>
                      <th>Cantidad</th>
                      <th class="text-end" style="width: 120px;">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">01</th>
                      <td>
                        <h5 class="font-size-15 mb-1">Nike N012 Running Shoes</h5>
                        <ul class="list-inline mb-0">
                          <li class="list-inline-item">Color : <span class="fw-medium">Gray</span></li>
                          <li class="list-inline-item">Size : <span class="fw-medium">08</span></li>
                        </ul>
                      </td>
                      <td>$260</td>
                      <td>1</td>
                      <td class="text-end">PEN 260.00</td>
                    </tr>

                    <tr>
                      <th scope="row">02</th>
                      <td>
                        <h5 class="font-size-15 mb-1">Adidas Running Shoes</h5>
                        <ul class="list-inline mb-0">
                          <li class="list-inline-item">Color : <span class="fw-medium">Black</span></li>
                          <li class="list-inline-item">Size : <span class="fw-medium">09</span></li>
                        </ul>
                      </td>
                      <td>$250</td>
                      <td>1</td>
                      <td class="text-end">PEN 250.00</td>
                    </tr>


                    <tr>
                      <th scope="row" colspan="4" class="text-end">Sub Total</th>
                      <td class="text-end">PEN 510.00</td>
                    </tr>
                    <tr>
                      <th scope="row" colspan="4" class="border-0 text-end">
                        Descuento :</th>
                      <td class="border-0 text-end">- PEN 50.00</td>
                    </tr>
                    <tr>
                      <th scope="row" colspan="4" class="border-0 text-end">
                        Costo de envío :</th>
                      <td class="border-0 text-end">PEN 25.00</td>
                    </tr>
                    <tr>
                      <th scope="row" colspan="4" class="border-0 text-end">
                        Impuesto (IGV)</th>
                      <td class="border-0 text-end">PEN 13.00</td>
                    </tr>
                    <tr>
                      <th scope="row" colspan="4" class="border-0 text-end">Total</th>
                      <td class="border-0 text-end">
                        <h4 class="m-0">PEN 498.00</h4>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <div class="modal-footer">
    <a href="javascript(0)" class="btn btn-success waves-effect waves-light me-1"><i class="fa fa-download"></i></a>
    <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light me-1"><i
        class="fa fa-print"></i></a>
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-primary">Guardar cambios</button>
  </div>
</ng-template>




