<div class="container-fluid">
    <app-page-title title="Perfil" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row mb-4">
      <div class="col-xl-6">
        <div class="card h-100">
          <div class="card-body">
            <div class="text-center">
              <div class="clearfix"></div>
              <div>
                <img src="assets/images/users/avatar-0.png" alt="" class="avatar-lg rounded-circle img-thumbnail" />
              </div>
              <h5 class="mt-3 mb-1">Renzo Alessandro Sucari Velásquez</h5>
              <p class="text-muted">Administrador</p>
              <p>Sede</p>
  
              <div class="mt-4">
                <button type="button" class="btn btn-light btn-sm">
                  <i class="uil uil-lock-alt me-2"></i> Cambiar Contraseña
                </button>
              </div>
            </div>
  
            <hr class="my-4" />
  
            <div class="text-muted">
              <div class="table-responsive mt-4">
                <div>
                  <p class="mb-1">Nombres :</p>
                  <h5 class="font-size-16">Renzo Alessandro</h5>
                </div>
                <div>
                    <p class="mb-1">Apellidos :</p>
                    <h5 class="font-size-16">Sucari Velásquez</h5>
                </div>
                <div class="mt-4">
                    <p class="mb-1">DNI :</p>
                    <h5 class="font-size-16">74823410</h5>
                </div>
                <div class="mt-4">
                  <p class="mb-1">Telefono :</p>
                  <h5 class="font-size-16">983720150</h5>
                </div>
                <div class="mt-4">
                  <p class="mb-1">E-mail :</p>
                  <h5 class="font-size-16">renzusuv@gmail.com</h5>
                </div>
                <div class="mt-4">
                  <p class="mb-1">Dirección :</p>
                  <h5 class="font-size-16">Calle Leticia 104, Carmen Alto, Cayma, Arequipa</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>