<div class="container-fluid">
    <app-page-title title="Registrar Nuevo Usuario" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="checkout-tabs">
      <div class="row">
        <div class="col-xl-8">
          <div class="">
            <div class="checkout-acco">
              <ngb-accordion [closeOthers]="true" activeIds="static-1">
                <ngb-panel id="static-1">
                  <ng-template ngbPanelTitle>
                    <a class="text-dark p-0" style="text-align: left;">
                      <div class="d-flex align-items-start align-items-center">
                        <div class="me-3">
                          <i class="uil uil-file-bookmark-alt text-primary h2"></i>
                        </div>
                        <div class="flex-1 overflow-hidden">
                          <h5 class="font-size-16 mb-1">Información del Usuario</h5>
                          <p class="text-muted text-truncate mb-0">
                            Datos básicos del nuevo usuario.
                          </p>
                        </div>
                      </div>
                    </a>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div id="checkout-billinginfo-collapse">
                      <div class="border-top py-4">
                        <form>
                          <div>
                            <div class="row">
                              <div class="col-lg-4">
                                <div class="mb-4">
                                  <label class="form-label" for="billing-name">DNI</label>
                                  <input type="text" class="form-control" id="billing-dni" placeholder="Ingrese el DNI" />
                                </div>
                              </div>
                              <div class="col-lg-4">
                                <div class="mb-4">
                                  <label class="form-label" for="billing-name">Nombres</label>
                                  <input type="text" class="form-control" id="billing-firstnames" placeholder="Ingrese los nombres" />
                                </div>
                              </div>
                              <div class="col-lg-4">
                                <div class="mb-4">
                                  <label class="form-label" for="billing-name">Apellidos</label>
                                  <input type="text" class="form-control" id="billing-lastnames" placeholder="Ingrese los apellidos" />
                                </div>
                              </div>
                              <div class="col-lg-4">
                                <div class="mb-4">
                                  <label class="form-label" for="billing-phone">Telefono</label>
                                  <input type="text" class="form-control" id="billing-phone"
                                    placeholder="Ingrese el número de telefono" />
                                </div>
                              </div>
                              <div class="col-lg-4">
                                <div class="mb-4">
                                  <label class="form-label" for="billing-email-address">Email</label>
                                  <input type="email" class="form-control" id="billing-email-address"
                                    placeholder="Ingrese correo electrónico" />
                                </div>
                              </div>
                              <div class="col-lg-4">
                                <div class="mb-4">
                                  <label class="form-label" for="billing-email-address">Contraseña</label>
                                  <input type="password" class="form-control" id="billing-password"
                                    placeholder="Ingrese la contraseña" />
                                </div>
                              </div>
                              <div class="col-lg-4">
                                <div class="mb-4">
                                  <label class="form-label" for="billing-email-address">Repita la contraseña</label>
                                  <input type="password" class="form-control" id="billing-repet-password"
                                    placeholder="Repita la contraseña" />
                                </div>
                              </div>
                            </div>
  
                            <div class="mb-4">
                              <label class="form-label" for="billing-address">Address</label>
                              <textarea class="form-control" id="billing-address" rows="3"
                                placeholder="Enter full address"></textarea>
                            </div>
  
                            <div class="row">
                              <div class="col-lg-4">
                                <div class="mb-4 mb-lg-0">
                                  <label class="form-label">Country</label>
                                  <ng-select name="selectCountry" [items]="selectValue" [(ngModel)]="selectedValue">
                                  </ng-select>
                                </div>
                              </div>
  
                              <div class="col-lg-4">
                                <div class="mb-4 mb-lg-0">
                                  <label class="form-label" for="billing-city">City</label>
                                  <input type="text" class="form-control" id="billing-city" placeholder="Enter City" />
                                </div>
                              </div>
  
                              <div class="col-lg-4">
                                <div class="mb-0">
                                  <label class="form-label" for="zip-code">Zip / Postal code</label>
                                  <input type="text" class="form-control" id="zip-code" placeholder="Enter Postal code" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>

  
                <ngb-panel id="static-2">
                  <ng-template ngbPanelTitle>
                    <a class="text-dark" style="text-align: left;">
                      <div class="d-flex align-items-start align-items-center">
                        <div class="me-3">
                          <i class="uil uil-award-alt text-primary h2"></i>
                        </div>
                        <div class="flex-1 overflow-hidden">
                          <h5 class="font-size-16 mb-1">Rol del Usuario</h5>
                          <p class="text-muted text-truncate mb-0">
                            Rol que desempeñará el nuevo usuario.
                          </p>
                        </div>
                      </div>
                    </a>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div id="checkout-paymentinfo-collapse">
                      <div class="border-top py-4">
                        <div>
                          <h5 class="font-size-14 mb-3">Roles :</h5>
                          <div class="row">
                            <div class="col-lg-3 col-sm-6">
                              <div data-toggle="collapse">
                                <label class="card-radio-label">
                                  <input type="radio" name="pay-method" id="pay-methodoption1" class="card-radio-input" />
                                  <span class="card-radio text-center text-truncate">
                                    <i class="uil uil-user d-block h2 mb-3"></i>
                                    Administrador
                                  </span>
                                </label>
                              </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                              <div>
                                <label class="card-radio-label">
                                  <input type="radio" name="pay-method" id="pay-methodoption2" class="card-radio-input" />
                                  <span class="card-radio text-center text-truncate">
                                    <i class="uil uil-shop d-block h2 mb-3"></i>
                                    Vendedor
                                  </span>
                                </label>
                              </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                              <div>
                                <label class="card-radio-label">
                                  <input type="radio" name="pay-method" id="pay-methodoption3" class="card-radio-input"
                                    checked />
                                  <span class="card-radio text-center text-truncate">
                                    <i class="uil uil-money-stack d-block h2 mb-3"></i>
                                    <span>Contador</span>
                                  </span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>


                <ngb-panel id="static-3">
                    <ng-template ngbPanelTitle>
                      <a class="text-dark" style="text-align: left;">
                        <div class="d-flex align-items-start align-items-center">
                          <div class="me-3">
                            <i class="uil uil-location-pin-alt text-primary h2"></i>
                          </div>
                          <div class="flex-1 overflow-hidden">
                            <h5 class="font-size-16 mb-1">Sede del Usuario</h5>
                            <p class="text-muted text-truncate mb-0">
                              Sede donde laborará el nuevo usuario.
                            </p>
                          </div>
                        </div>
                      </a>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <div id="checkout-shippinginfo-collapse">
                        <div class="border-top py-4">
                          <h5 class="font-size-14 mb-3">Sedes :</h5>
                          <div class="row">
                            <div class="col-lg-4 col-sm-6">
                              <div class="card border rounded active shipping-address">
                                <div class="card-body">
                                  <a href="javascript:void(0);" class="float-right ml-1" data-toggle="tooltip" data-placement="top"
                                    title="Edit">
                                    <i class="uil uil-shop font-size-16"></i>
                                  </a>
                                  <h5 class="font-size-14 mb-4">Address 1</h5>
    
                                  <h5 class="font-size-14">Arequipa</h5>
                                  <p class="mb-1">
                                    1557 Sundown Lane Smithville, TX 78957
                                  </p>
                                  <p class="mb-0">Mo. 012-345-6789</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                              <div class="card border rounded shipping-address">
                                <div class="card-body">
                                  <a href="javascript:void(0);" class="float-right ml-1" data-toggle="tooltip" data-placement="top"
                                    title="Edit">
                                    <i class="uil uil-shop font-size-16"></i>
                                  </a>
                                  <h5 class="font-size-14 mb-4">Address 2</h5>
                                  <h5 class="font-size-14">Moquegua</h5>
                                  <p class="mb-1">
                                    1557 Sundown Lane Smithville, TX 78957
                                  </p>
                                  <p class="mb-0">Mo. 012-345-6789</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
  
          <div class="row my-4">
            <div class="col">
              <div class="text-sm-end mt-2 mt-sm-0">
                <a href="javascript:void(0)" class="btn btn-success">
                  <i class="uil uil-user-plus me-1"></i> Registrar
                </a>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row-->
        </div>
  
        <div class="col-xl-4">
            <div class="card h-100">
              <div class="card-body">
                <div class="text-center">
                  <div class="clearfix"></div>
                  <div>
                    <img src="assets/images/users/avatar-4.jpg" alt="" class="avatar-lg rounded-circle img-thumbnail" />
                  </div>
                  <h5 class="mt-3 mb-1">Marcus</h5>
                  <p class="text-muted">UI/UX Designer</p>
                </div>
      
                <hr class="my-4" />
      
                <div class="text-muted">
                  <h5 class="font-size-16">About</h5>
                  <p>
                    Hi I'm Marcus,has been the industry's standard dummy text To an
                    English person, it will seem like simplified English, as a
                    skeptical Cambridge.
                  </p>
                  <div class="table-responsive mt-4">
                    <div>
                      <p class="mb-1">Nombres :</p>
                      <h5 class="font-size-16">William Shipp</h5>
                    </div>
                    <div class="mt-4">
                      <p class="mb-1">Apellidos :</p>
                      <h5 class="font-size-16">Sandoval Griffith</h5>
                    </div>
                    <div class="mt-4">
                        <p class="mb-1">DNI :</p>
                        <h5 class="font-size-16">35488591</h5>
                    </div>
                    <div class="mt-4">
                        <p class="mb-1">Rol :</p>
                        <h5 class="font-size-16">Administrador</h5>
                    </div>
                    <div class="mt-4">
                        <p class="mb-1">Sede :</p>
                        <h5 class="font-size-16">Arequipa, Arequipa</h5>
                    </div>
                    <div class="mt-4">
                      <p class="mb-1">E-mail :</p>
                      <h5 class="font-size-16">WilliamShipp@jourrapide.com</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>