ngx-dropzone,
.custom-dropzone {
  margin: 20px;
}

.custom-dropzone {
	/* height: 250px; */
	/* background: #333; */
	/* color: #fff; */
	/* border: 5px dashed rgb(235, 79, 79); */
	border-radius: 5px;
	font-size: 1vh;
}

.custom-dropzone.ngx-dz-hovered {
  border: 5px solid rgb(235, 79, 79);
}

.icon {
	width: 15%;
	height: 15%;
}