<div class="container-fluid">
    <app-page-title title="Actualición de Stock por Archivo Excel" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="card-title">Exportar</div>
              <p class="card-title-desc">Seleccione la <strong>sede</strong> y <strong>tipo de producto</strong> para generar la tabla Excel a modificar.
              </p>
              <div>
                <form>
                  <div class="row">
                    <div class="mb-3 col-lg-2">
                      <!-- <label for="name">Name</label> -->
                      <div class="dropdown" ngbDropdown>
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                          ngbDropdownToggle>
                          Seleccione Sede <i class="mdi mdi-chevron-down"></i>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                          <a class="dropdown-item" href="javascript: void(0);">Arequipa</a>
                          <a class="dropdown-item" href="javascript: void(0);">Moquegua</a>
                          <a class="dropdown-item" href="javascript: void(0);">Puno</a>
                        </div>
                      </div>
                    </div>
  
                    <div class="mb-3 col-lg-2">
                      <!-- <label for="email">Email</label> -->
                      <div class="dropdown" ngbDropdown>
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                          ngbDropdownToggle>
                          Seleccione Producto <i class="mdi mdi-chevron-down"></i>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                          <a class="dropdown-item" href="javascript: void(0);">Monturas</a>
                          <a class="dropdown-item" href="javascript: void(0);">Lunas</a>
                          <a class="dropdown-item" href="javascript: void(0);">Accesorios</a>
                        </div>
                      </div>
                    </div>  
                    <div class="mb-3 col-lg-2 align-self-center d-grid">
                      <input type="button" class="btn btn-primary btn-block" value="Descargar Archivo" (click)="0">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="card-title">Importar</div>
            <p class="card-title-desc">Cargué el archivo mofificado, según <strong>sede</strong> y <strong>tipo de producto</strong> seleccionado anteriormente.
            </p>
            <div>
              <form>
                <dropzone class="dropzone" [message]="message"></dropzone>
              </form>
            </div>
            <div class="text-center mt-4">
              <button type="button" class="btn btn-primary">Subir Archivo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  