<div class="container-fluid">
    <app-page-title title="Actualición de Stock por Archivo Excel" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="card-title">Exportar</div>
              <p class="card-title-desc">Seleccione la <strong>sede</strong> y <strong>tipo de producto</strong> para generar la tabla Excel a modificar.
              </p>
              <div>
                <form>

                  <div class="mb-3">
                    <!-- Default dropup button -->
                    <div class="btn-group mt-2 me-1" ngbDropdown>
                      <button type="button" class="btn btn-primary dropdown-toggle" ngbDropdownToggle>Seleccione la Sede <i
                          class="mdi mdi-chevron-down"></i></button>
                      <div class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript: void(0);">Arequipa</a>
                        <a class="dropdown-item" href="javascript: void(0);">Moquegua</a>
                        <a class="dropdown-item" href="javascript: void(0);">Puno</a>
                      </div>
                    </div>

                    <!-- Default dropup button -->
                    <div class="btn-group mt-2 me-1" ngbDropdown>
                      <button type="button" class="btn btn-primary dropdown-toggle" ngbDropdownToggle>Seleccione el Producto <i
                        class="mdi mdi-chevron-down"></i></button>
                      <div class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript: void(0);">Monturas</a>
                        <a class="dropdown-item" href="javascript: void(0);">Lunas</a>
                        <a class="dropdown-item" href="javascript: void(0);">Accesorios</a>
                      </div>
                    </div>
                    
                    <!-- Default button -->
                    <div class="btn-group mt-2 me-1">
                      <input type="button" class="btn btn-primary btn-block" value="Descargar Archivo" (click)="0">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="card-title">Importar</div>
            <p class="card-title-desc">Cargué el archivo mofificado, seleccione el <strong>tipo de producto</strong>.
            </p>
            <div>
              <form>
                <div class="mb-3">
                  <!-- Default dropup button -->
                  <div class="btn-group mt-2 me-1" ngbDropdown>
                    <button type="button" class="btn btn-primary dropdown-toggle" ngbDropdownToggle>Seleccione el Producto <i
                      class="mdi mdi-chevron-down"></i></button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <a class="dropdown-item" href="javascript: void(0);">Monturas</a>
                      <a class="dropdown-item" href="javascript: void(0);">Lunas</a>
                      <a class="dropdown-item" href="javascript: void(0);">Accesorios</a>
                    </div>
                  </div>
                </div>
                <dropzone class="dropzone" [message]="message"></dropzone>
              </form>
            </div>
            <div class="text-center mt-4">
              <button type="button" class="btn btn-primary">Subir Archivo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  