<div class="my-5 pt-sm-5">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div>
                        <div class="row justify-content-center">
                            <div class="col-sm-4">
                                <div class="error-img">
                                    <img src="assets/images/404-error.png" alt="" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="text-uppercase mt-4">Lo sentimos, página no encontrada</h4>
                    <p class="text-muted">Buscamos por todas partes esta página.</p>
                    <p class="text-muted">¿Estás seguro de que la URL del sitio web es correcta? ó ¿tienes los permisos?</p>
                    <p class="text-muted">Póngase en contacto con el propietario del sitio.</p>
                    <div class="mt-5">
                        <a class="btn btn-primary" routerLink="/home">Volver al Inicio</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>