<div class="container-fluid">

  <app-page-title title="Lista de Lunas" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-md-6 mb-2">
      <div class="form-inline">
        <div class="search-box ml-2">
          <div class="position-relative">
            <input type="text" class="form-control border-light rounded" placeholder="Buscar luna" name="searchTerm"
              aria-controls="tickets-table" [(ngModel)]="service.searchTerm">
            <i class="uil uil-search search-icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-2">
        <div>
          <div class="btn-toolbar" role="toolbar">

            <div class="col-12 col-md-6 d-grid mb-2">
              <button type="button" class="btn btn-success btn-block me-1" (click)="openScrollModal(scrollDataModalEGL)" [disabled]="this.checkedLunasList.length==0">
                  <i class="uil uil-tag-alt me-2"></i> Etiquetas
              </button>
            </div>

            <div class="col-12 col-md-6 d-grid">
                <form [formGroup]="formSedes">
                <div ngbDropdown>
                  <ng-select [items]="listSedes" placeholder="Seleccione la sede" bindValue="id_sede"
                  bindLabel="nombre_sede" formControlName="{{this.nombre_sedes}}" (change)="changeSede()">
                  </ng-select>
                </div>
              </form>
            </div>
            
          </div>
        </div>
    </div>
</div>

<div class="row md-2">
<!--   <div class="col-sm-6 col-md-6">

  </div> -->
  <div class="col-sm-12 col-md-12">
    <div class="dataTables_length text-md-end"><label class="d-inline-flex align-items-center">Mostrar<select name="pageSize"
          [(ngModel)]="service.pageSize"
          class="custom-select custom-select-sm form-control form-control-sm form-select form-select-sm">
          <option [ngValue]="10">10</option>
          <option [ngValue]="25">25</option>
          <option [ngValue]="50">50</option>
          <option [ngValue]="100">100</option>
        </select> entradas</label></div>
  </div>

  

  <div class="row">
    <div class="col-12">
      <div class="table-responsive mb-4">
        <form>
          <table class="table datatables table-centered table-nowrap mb-0 align-middle table-card-list"
            style="border-spacing: 0 12px; width: 100%;">
            <thead>
              <tr class="bg-transparent">
                <th style="width: 20px;">
                  <div class="form-check text-center">
                    <input type="checkbox" class="form-check-input" id="lunascheck" (change)="checkUncheckAll()"
                      [(ngModel)]="isMasterSel" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="lunascheck"></label>
                  </div>
                </th>
                <th scope="col" sortable="id" (sort)="onSort($event)">Ord.</th>
                <th scope="col" sortable="material" (sort)="onSort($event)">Material</th>
                <!-- <th scope="col" sortable="codigo_interno" (sort)="onSort($event)">Cód. int.</th> -->
                <th *appRole="role" scope="col" sortable="precio_luna_c" (sort)="onSort($event)">Precio Compra</th>
                <th scope="col" sortable="precio_luna_v" (sort)="onSort($event)">Precio Venta</th>
                <th scope="col" sortable="cantidad" (sort)="onSort($event)">Stock</th>
                <!-- <th scope="col" sortable="sede" (sort)="onSort($event)">Sede</th> -->
                <th scope="col" sortable="fecha_creacion_luna" (sort)="onSort($event)">Fecha de Ingreso</th>
                <!-- <th scope="col" sortable="status" (sort)="onSort($event)">Estado</th> -->
                <th *appRole="role">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of lunas$ | async; let i = index">
                <td>
                  <div class="form-check text-center">
                    <input id="ordercheck{{data.index}}" type="checkbox" class="form-check-input"
                      [(ngModel)]="data.isSelected" [ngModelOptions]="{standalone: true}" (change)="isAllSelected()" />
                    <label class="form-check-label" for="ordercheck{{data.index}}">&nbsp;</label>
                  </div>
                </td>
                <td>
                  <ngb-highlight [result]="i+1" [term]="service.searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="data.material.toUpperCase()" [term]="service.searchTerm"></ngb-highlight>
                </td>
                <!-- <td>
                    <ngb-highlight [result]="data.codigo_interno" [term]="service.searchTerm"></ngb-highlight>
                  </td> -->
                <td *appRole="role">
                  <ngb-highlight [result]="data.precio_luna_c" [term]="service.searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="data.precio_luna_v" [term]="service.searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="data.cantidad" [term]="service.searchTerm"></ngb-highlight>
                </td>
                <!-- <td>
                    <ngb-highlight [result]="" [term]="service.searchTerm"></ngb-highlight>
                  </td> -->
                <td>
                  <ngb-highlight [result]="data.fecha_creacion_luna | date: 'dd/MM/yyyy'"
                    [term]="service.searchTerm"></ngb-highlight>
                </td>
                <!-- <td>
                      <span class="badge bg-pill bg-soft-success font-size-12"
                        [ngClass]=" { 'bg-soft-danger': data.status === 'Deactive' }">{{data.status}}</span>
                    </td> -->
                <td>
                  <a (click)="openModalEtiqueta(centerModalEIL,data)" class="px-2 text-success" placement="top"
                    ngbTooltip="Etiqueta" *appRole="role"><i class="uil-tag-alt font-size-18"></i></a>
                  <a (click)="centerModal(centerDataModal,data)" class="px-2 text-primary" placement="top"
                    ngbTooltip="Editar" *appRole="role"><i class="uil uil-pen font-size-18"></i></a>
                  <a class="px-2 text-danger" placement="top" ngbTooltip="Eliminar" (click)="eliminar(data)"
                    *appRole="role"><i class="uil uil-trash-alt font-size-18"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>

      <div class="row" *ngIf="!mostrarSpinner">
        <div class="col-12">
          <div class="text-center my-3">
            <a href="javascript:void(0);" class="text-primary"><i
                class="mdi mdi-loading mdi-spin font-size-20 align-middle me-2"></i> Cargando </a>
          </div>
        </div> <!-- end col-->
      </div>

      <!-- End table -->
      <div class="row justify-content-md-between align-items-md-center">
        <!-- <div class="col-sm-12 col-md-5">
          <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Page 2 of 84</div>
        </div> -->
        <!-- Pagination -->
        <div class="col-12">
          <div class="text-md-end float-md-end pagination-rounded">
            <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize"
              [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)">
            </ngb-pagination>
          </div>
        </div>
        <!-- End Pagination -->
      </div>
    </div>
  </div>
  <!-- end row -->
</div>


<!-- Editar Luna - Center Modal -->
<ng-template #centerDataModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">Editar Luna</h5>
    <button type="button" class="btn-close" (click)="closeEventModal()">
    </button>
  </div>
  <div class="modal-body p-4">
    <form [formGroup]="formLuna">
      <p class="card-title-desc text-danger">* Campo requerido</p>
      <!-- <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label class="control-label">Fecha</label>
                <input class="form-control" placeholder="Seleccione la fecha" type="text" name="title"
                  formControlName="title" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                  <span *ngIf="form.title.errors.required">This value is required.</span>
                </div>
              </div>
            </div>
          </div> -->
      <div class="row">
        <div class="col-md-8">
          <div class="mb-3">
            <label class="control-label">Material *</label>
            <input class="form-control" placeholder="Material de la luna" type="text" name="title"
              formControlName="{{this.material_luna}}"
              [ngClass]="{'is-invalid': formEL.campoMaterialLuna.invalid && (formEL.campoMaterialLuna.dirty || formEL.campoMaterialLuna.touched)}" />
            <div class="invalid-feedback">
              <div *ngIf="formEL.campoMaterialLuna.errors?.required">
                Campo requerido
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Sede *</label>
            <div class="btn-toolbar" role="toolbar">
              <div class="col-12 d-grid" *appRole="role">
                  <div ngbDropdown>
                    <ng-select [items]="listSedes" placeholder="Seleccione la sede" bindValue="id_sede"
                      bindLabel="nombre_sede" formControlName="{{this.nombre_sedesLuna}}" >
                    </ng-select>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label class="control-label">Stock *</label>
            <input class="form-control" placeholder="Cantidad" type="text" name="title"
              formControlName="{{this.cantidad_luna}}"
              [ngClass]="{'is-invalid': formEL.campoCantidadLuna.invalid && (formEL.campoCantidadLuna.dirty || formEL.campoCantidadLuna.touched)}" />
            <div class="invalid-feedback">
              <div *ngIf="formEL.campoCantidadLuna.errors?.required">
                Campo requerido
              </div>
              <div *ngIf="formEL.campoCantidadLuna.errors?.pattern">
                Ingrese solo números enteros
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label class="control-label">Precio de Compra *</label>
            <input class="form-control" placeholder="Precio" type="text" name="title"
              formControlName="{{this.precio_compra_luna}}"
              [ngClass]="{'is-invalid': formEL.campoCompraLuna.invalid && (formEL.campoCompraLuna.dirty || formEL.campoCompraLuna.touched)}" />
            <div class="invalid-feedback">
              <div *ngIf="formEL.campoCompraLuna.errors?.required">
                Campo requerido
              </div>
              <div *ngIf="formEL.campoCompraLuna.errors?.pattern">
                Ingrese solo números y opcional hasta 2 decimales
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label class="control-label">Precio de Venta *</label>
            <input class="form-control" placeholder="Precio" type="text" name="title"
              formControlName="{{this.precio_venta_luna}}"
              [ngClass]="{'is-invalid': formEL.campoVentaLuna.invalid && (formEL.campoVentaLuna.dirty || formEL.campoVentaLuna.touched)}" />
            <div class="invalid-feedback">
              <div *ngIf="formEL.campoVentaLuna.errors?.required">
                Campo requerido
              </div>
              <div *ngIf="formEL.campoVentaLuna.errors?.pattern">
                Ingrese solo números y opcional hasta 2 decimales
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-end mt-2">
        <button type="button" class="btn btn-danger" (click)="closeEventModal()">
          Cerrar
        </button>
        <button type="submit" class="btn btn-success ms-1" id="btn-save-event" (click)="guardarLuna()"
          [disabled]="!formLuna.valid">
          Guardar
        </button>
      </div>
    </form>
  </div>
  <!-- end modal dialog-->
</ng-template>
<!-- end modal-->

<!-- Imprimir Etiqueta Individual Lunas - Center Modal -->
<ng-template #centerModalEIL let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Imprimir Etiqueta por Luna</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="closeEventModal()"></button>
  </div>

  <div class="modal-body">

    <div id="htmlData2">
      <div *ngFor="let cant of [].constructor(nQR)">
        <div class="row align-items-center">
          <div class="col-3">
            <ejs-qrcodegenerator style="display: block;" #barcode id="barcode" width="130px" height="130px" mode="SVG"
              value={{individualQR.id_producto}} [displayText]='displayTextMethod'>
            </ejs-qrcodegenerator>
          </div>
          <div class="col-9 ml-0">
            <span class="font-size-13">
              Material: {{individualQR.material}}<br>
            </span>
            <span class="font-size-12">
              ID: {{individualQR.id_producto}}<br>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeEventModal()">Cerrar</button>
    <div style="width: 80px;" class="product-cart-touchspin">
      <form [formGroup]="formPrintEtiquetaLuna">
        <div touch-spin ng-model="numberVariable" options="optionsVariable"></div>
        <input class="form-control" type="number" min="1" step="1"
          oninput="this.value = Math.round(this.value); this.value > 100? this.value = 100 : this.value"
          formControlName="{{this.nEtiquetasPorLuna}}" (change)="generarEtiqueta()" max="100" maxlength="3">
      </form>
    </div>
    <button type="button" class="btn btn-primary" (click)="printEtiquetaIndividual()"><i class="uil-print me-1"></i>Descargar
      códigos</button>
  </div>

</ng-template>

<!-- Imprimir Etiqueta General Lunas - Scrollable Modal -->
<ng-template #scrollDataModalEGL let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Código de Barras</h5>
    <button type="button" class="btn-close" (click)="closeEventModal()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div id="htmlData">
      <div *ngFor="let item of checkedLunasList">
        <div *ngFor="let cant of [].constructor(item.cantidad)">
          <div class="row align-items-center">
            <div class="col-3">
              <!-- <ejs-barcodegenerator style="display: block;" #barcode id="barcode" width="225px" height="100px"
                mode="SVG" type="Code128" value={{item.codigo_interno}}></ejs-barcodegenerator> -->
              <ejs-qrcodegenerator style="display: block;" #barcode id="barcode" width="130px" height="130px" mode="SVG"
                value={{item.id_producto}} [displayText]='displayTextMethod'>
              </ejs-qrcodegenerator>
            </div>
            <div class="col-9 ml-0">
              <span class="font-size-13">
                Material: {{item.material}}<br>
              </span>
              <span class="font-size-12">
                ID: {{item.id_producto}}<br>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeEventModal()">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="generarPDF()"><i class="uil-file-download me-1"></i>Descargar
      códigos</button>
  </div>
</ng-template>