<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="Inicio" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-xl-3 col-sm-6" *ngFor="let accesos of accesosDirectos">
          <div class="card text-center direct-access-box-2">
            <div class="card-body" [routerLink]="[accesos.link]">
                <div class="mb-4">
                    <i class="uil {{accesos.icono[0]}} me-1 icon-color-access-{{accesos.icono[1]}}" style="font-size: 6em;"></i>
                </div>   
                <div class="direct-access-content-2">
                    <h4 class="mb-1 mt-1">{{accesos.name}}</h4>
                    <p class="text-muted mb-2">{{accesos.detail}}</p>
                </div>       
            </div>
        </div>
        </div>
      </div>
      <!-- end row -->
</div>