<div class="container-fluid">
    <!-- page title -->
    <app-page-title title="Inicio" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">

        <div class="col-md-6 col-xl-3" *ngFor="let accesos of accesosDirectos">

            <div class="direct-access-box">
                <div class="direct-access-img pt-2 px-2">
                    <a [routerLink]="['/ecommerce/product-detail', accesos.id]">
                       <!--  <img src="{{accesos.images}}" alt="" class="img-fluid mx-auto d-block"> -->
                        <i class="uil {{accesos.icono[0]}} me-1 icon-color-access-{{accesos.icono[1]}}" style="font-size: 8em;"  ></i>
                    </a>
                </div>
                <div class="text-center direct-access-content p-4">
                    <h5 class="mb-1"><a href="javascript::void(0)"
                        [routerLink]="['/ecommerce/product-detail', accesos.id]"
                        class="text-dark">{{accesos.name}}</a></h5>
                    <p class="text-muted font-size-13">{{accesos.detail}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-md-6 col-xl-3" *ngFor="let accesos of accesosDirectos">
            <div class="card">
                <div class="card-body">
                    <div class="float-end mt-2">
                        <div id="total-revenue-chart">
                            <i class="uil {{accesos.icono[0]}} me-1 icon-color-access-{{accesos.icono[1]}}" style="font-size: 8em;"  ></i>
                        </div>
                    </div>
                    <div>
                        <h4 class="mb-1 mt-1">{{accesos.name}}</h4>
                        <p class="text-muted mb-0">{{accesos.detail}}</p>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->
    </div>
</div>