.direct-access-img{
    width: 50%;
    height: auto;
    /* position: relative; */
    margin: 0px auto;
    
    .direct-access-ribbon{
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 6px 8px;
    }
     
}

.direct-access-box-2{
    cursor: pointer;
    
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: box-shadow 0.3s ease-in-out;

        .direct-access-content-2{
            transform: translateY(-10px);
            transition: transform 0.3s ease-in-out;
        }
    }
}

$theme-colors-2: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors-2: map-merge(
  (
    "uno":   #5b73e8,
    "dos":   #564ab1,
    "tres":  #6f42c1,
    "cuatro":#e83e8c,
    "cinco": #f46a6a,
    "seis":  #f1734f,
    "siete": #f1b44c,
    "ocho":  #34c38f,
    "nueve": #050505,
    "dies":  #50a5f1,
  ),
  $theme-colors-2
);

@each $color,
$value in $theme-colors-2 {
    .icon-color-access-#{$color} {
        color: $value !important;
    }
}