// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

.background-img {
    height: 100dvh;
    background-image: url("https://images.wsj.net/im-147926");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}