<div class="block-1">
    <ngb-carousel [showNavigationIndicators]="!showNavigationIndicators">
        <ng-template ngbSlide>
          <img src="assets/images/backgrounds/background-3.jpg" alt="first slide" class="d-block img-fluid full-img">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/images/backgrounds/background-2.jpg" alt="second slide" class="d-block img-fluid full-img">
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/images/backgrounds/background-1.jpg" alt="third slide" class="d-block img-fluid full-img">
        </ng-template>
    </ngb-carousel>

    <div style="z-index: 10;" class="home-btn d-none d-sm-block">
        <a [routerLink]="['/home']" ><i style="color: white;" class="mdi mdi-home-circle-outline h2"></i></a>
    </div>


    <!-- <div class="pt-sm-5 row justify-content-center Absolute-Center">
        <div class="col-md-7 col-lg-5 col-xl-3">
            <div>
                <div class="card">
                    <div class="card-body p-4">
                        <div class="home-btn d-none d-sm-block">
                            <a [routerLink]="['/home']" class="text-dark"><i class="mdi mdi-home-circle-outline h2"></i></a>
                        </div>
                        <div class="text-center mt-2">
                            <h5 class="text-primary">Pantalla de bloqueo</h5>
                        </div>
                        <div class="p-2 mt-4">
                            <form action="/" [routerLink]="['/home']">
                                <div class="mt-3 text-center">
                                    <button class="btn btn-primary w-sm waves-effect waves-light"
                                        type="submit">Desbloquear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <p>© {{year}} Orange Óptica. Desarrollado por <i class="mdi mdi-laptop-mac text-danger"></i> - <a href="" target="_blank" class="text-reset">REW</a></p>
                </div>
            </div>
        </div>
    </div> -->
</div>



