<div class="container-fluid">

  <app-page-title title="Tiendas" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row mb-2">
    <div class="col-md-4">
      <div class="form-inline mb-3">
        <div class="search-box ml-2">
          <div class="position-relative">
            <input type="text" class="form-control rounded border-0" placeholder="Buscar tienda" name="searchTerm"
              aria-controls="tickets-table" (input)="searchFilter($event)">
            <i class="mdi mdi-magnify search-icon"></i>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6" *ngFor="let data of searchSedes">

      <div class="card border">
        <div class="card-body">

          <div class="d-flex align-items-start border-bottom pb-3">
            <!-- <div class="me-4">
                      <img src="{{ product.image }}" alt="" class="avatar-lg">
                  </div> -->
            <div class="avatar-md me-4">
              <div class="avatar-title bg-soft-primary rounded-circle text-primary">
                <i class="mdi mdi-home-city display-6 m-0 text-primary"></i>
              </div>
            </div>
            <div class="flex-1 align-self-center overflow-hidden">
              <div>
                <h5 class="text-truncate font-size-16"><a routerLink="/ecommerce/product-detail/1"
                    class="text-dark">{{data.nombre_sede}}</a></h5>
                <p class="mb-1">Dirección : <span class="fw-medium">{{data.direccion}}</span></p>
              </div>
            </div>
            <div class="ms-2">
              <ul class="list-inline mb-0 font-size-16">
                <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Editar">
                  <a (click)="OpenModalEditStore(DataModalEditStore,data)" class="text-muted px-2">
                    <i class="uil uil-edit-alt"></i>
                  </a>
                </li>
                <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="Eliminar">
                  <a (click)="elimninarVenta(data)" class="text-muted px-2">
                    <i class="uil uil-trash-alt"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-3">
                        <p class="text-muted mb-2">R.U.C.</p>
                        <h5 class="font-size-16">{{data.ruc}}</h5>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="mt-3">
                    <p class="text-muted mb-2">Teléfono</p>
                    <h5 class="font-size-16">{{data.telefono}}</h5>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-3">
                        <p class="text-muted mb-2">Fecha</p>
                        <h5 class="font-size-16">{{data.fecha_creacion_sede| date: 'dd/MM/yyyy'}}</h5>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!--  end row -->

  <div class="row" *ngIf="!mostrar">
    <div class="col-12">
      <div class="text-center my-3">
        <a href="javascript:void(0);" class="text-primary"><i
            class="mdi mdi-loading mdi-spin font-size-20 align-middle me-2"></i> Cargando </a>
      </div>
    </div> <!-- end col-->
  </div>

</div> <!-- container-fluid -->

<!-- Editar Store - Modal -->
<ng-template #DataModalEditStore let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Editar Tienda</h5>
    <button type="button" class="btn-close" (click)="closeEventModal()"></button>
  </div>
  <form (ngSubmit)="saveEvent()" [formGroup]="formEditarTiendas">
    <div class="modal-body">
      <p class="card-title-desc text-danger">* Campo requerido</p>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label for="validationCustom01">Nombre *</label>
            <input class="form-control" placeholder="Nombre de la tienda" type="text" name="title"
              formControlName="{{this.nombre_tienda}}"
              [ngClass]="{'is-invalid': formET.campoNombreTienda.invalid && (formET.campoNombreTienda.dirty || formET.campoNombreTienda.touched)}" />
            <div class="invalid-feedback">
              <div *ngIf="formET.campoNombreTienda.errors?.required">
                Campo requerido
              </div>
              <div *ngIf="formET.campoNombreTienda.errors?.minlength">
                El campo debe ser mayor a 3 caracteres
              </div>
              <div *ngIf="formET.campoNombreTienda.errors?.maxlength">
                El campo debe ser menor a 40 caracteres
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="mb-3">
            <label for="validationCustom01">Dirección *</label>
            <input class="form-control" placeholder="Dirección de la tienda" type="text" name="title"
              formControlName="{{this.direccion_tienda}}"
              [ngClass]="{'is-invalid': formET.campoDireccionTienda.invalid && (formET.campoDireccionTienda.dirty || formET.campoDireccionTienda.touched)}" />
            <div class="invalid-feedback">
              <div *ngIf="formET.campoDireccionTienda.errors?.required">
                Campo requerido
              </div>
              <div *ngIf="formET.campoDireccionTienda.errors?.minlength">
                El campo debe ser mayor a 3 caracteres
              </div>
              <div *ngIf="formET.campoDireccionTienda.errors?.maxlength">
                El campo debe ser menor a 60 caracteres
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="mb-3">
            <label for="validationCustom01">RUC *</label>
            <input class="form-control" placeholder="RUC de la tienda" type="text" name="title"
              formControlName="{{this.ruc_tienda}}"
              [ngClass]="{'is-invalid': formET.campoRucTienda.invalid && (formET.campoRucTienda.dirty || formET.campoRucTienda.touched)}" />
              <div class="invalid-feedback">
                <div *ngIf="formET.campoRucTienda.errors?.required">
                  Campo requerido
                </div>
                <div *ngIf="formET.campoRucTienda.errors?.pattern">
                  Ingrese solo números
                </div>
                <div *ngIf="formET.campoRucTienda.errors?.minlength">
                  El campo debe ser mayor a 8 caracteres
                </div>
                <div *ngIf="formET.campoRucTienda.errors?.maxlength">
                  El campo debe ser menor e igual a 11 caracteres
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="mb-3">
            <label for="validationCustom01">Teléfono *</label>
            <input class="form-control" placeholder="Teléfono de la tienda" type="text" name="title"
              formControlName="{{this.telefono_tienda}}"
              [ngClass]="{'is-invalid': formET.campoTelefonoTienda.invalid && (formET.campoTelefonoTienda.dirty || formET.campoTelefonoTienda.touched)}" />
              <div class="invalid-feedback">
                <div *ngIf="formET.campoTelefonoTienda.errors?.required">
                  Campo requerido
                </div>
                <div *ngIf="formET.campoTelefonoTienda.errors?.pattern">
                  Ingrese solo números
                </div>
                <div *ngIf="formET.campoTelefonoTienda.errors?.minlength">
                  El campo debe ser mayor a 6 caracteres
                </div>
                <div *ngIf="formET.campoTelefonoTienda.errors?.maxlength">
                  El campo debe ser menor e igual a 9 caracteres
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="mb-3">
            <label for="validationCustom01">Logo de la Tienda</label>
            <div 
              class="custom-dropzone" 
              ngx-dropzone 
              [accept]="'image/*'"
              (change)="onSelect($event)">
              <ngx-dropzone-label>
                <div>
                  <i class="display-4 text-muted uil uil-cloud-upload"></i>
                  <h3>Suelte los archivos aquí <br>o haga clic para cargar.</h3>
                </div>
              </ngx-dropzone-label>
              <!-- <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} </ngx-dropzone-label>
              </ngx-dropzone-preview> -->
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
              </ngx-dropzone-image-preview>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="closeEventModal()">Cerrar</button>
      <button type="button" class="btn btn-success ms-1" id="btn-save-event" (click)="guardarTienda()">Guardar</button>
    </div>
  </form>
</ng-template>