<div class="container-fluid">
  <app-page-title title="Registrar un Producto" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row mb-4">
    <div class="col-xl-12">
      <div class="card mb-0">
        <!-- Nav tabs -->
        <ul ngbNav #justifiednav="ngbNav" [activeId]="1" class="nav nav-tabs nav-justified nav-tabs-custom">
          <li [ngbNavItem]="1" class="nav-item">
            <a ngbNavLink class="nav-link">
              <i class="uil uil-nerd font-size-20"></i>
              <span class="d-none d-sm-block">Montura</span>
            </a>
            <ng-template ngbNavContent>
              <ng-template [ngTemplateOutlet]="TabContentAbout"></ng-template>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" class="nav-item">
            <a ngbNavLink class="nav-link">
              <i class="uil uil-panorama-h-alt font-size-20"></i>
              <span class="d-none d-sm-block">Luna</span>
            </a>
            <ng-template ngbNavContent>
              <ng-template [ngTemplateOutlet]="TabContentTasks"></ng-template>
            </ng-template>
          </li>
          <li [ngbNavItem]="3" class="nav-item">
            <a ngbNavLink class="nav-link">
              <i class="uil uil-box font-size-20"></i>
              <span class="d-none d-sm-block">Accesorio</span>
            </a>
            <ng-template ngbNavContent>
              <ng-template [ngTemplateOutlet]="TabContentMessages"></ng-template>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="justifiednav"></div>
      </div>

      <!-- Tab content -->
      <ng-template #TabContentAbout>
        <div class="tab-content p-4">
          <div class="tab-pane active">
            <div>
              <form (ngSubmit)="saveEvent()" [formGroup]="formMonturas">
                <p class="card-title-desc text-danger">* Campo requerido</p> 
                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label class="control-label">Fecha</label>
                      <input class="form-control" placeholder="Seleccione la fecha" type="text" name="title"
                        formControlName="{{this.fecha_registro_montura}}" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label class="control-label">Material *</label>
                      <input class="form-control" placeholder="Material de la montura" type="text" name="title"
                        formControlName="{{this.material_montura}}" [ngClass]="{'is-invalid': formM.campoMaterialMontura.invalid && (formM.campoMaterialMontura.dirty || formM.campoMaterialMontura.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formM.campoMaterialMontura.errors?.required">
                          Campo requerido
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label class="control-label">Marca *</label>
                      <input class="form-control" placeholder="Marca de la montura" type="text" name="title"
                        formControlName="{{this.marca_montura}}" [ngClass]="{'is-invalid': formM.campoMarcaMontura.invalid && (formM.campoMarcaMontura.dirty || formM.campoMarcaMontura.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formM.campoMarcaMontura.errors?.required">
                          Campo requerido
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Código *</label>
                      <input class="form-control" placeholder="Código" type="text" name="title"
                        formControlName="{{this.codigo_montura}}" [ngClass]="{'is-invalid': formM.campoCodigoMontura.invalid && (formM.campoCodigoMontura.dirty || formM.campoCodigoMontura.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formM.campoCodigoMontura.errors?.required">
                          Campo requerido
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Código Interno</label>
                      <input class="form-control" placeholder="Código" type="text" name="title"
                        formControlName="{{this.codigo_interno_montura}}" [ngClass]="{'is-invalid': formM.campoInternoMontura.invalid && (formM.campoInternoMontura.dirty || formM.campoInternoMontura.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formM.campoInternoMontura.errors?.required">
                          Campo requerido
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Talla *</label>
                      <input class="form-control" placeholder="Talla de la montura" type="text" name="title"
                        formControlName="{{this.talla_montura}}" [ngClass]="{'is-invalid': formM.campoTallaMontura.invalid && (formM.campoTallaMontura.dirty || formM.campoTallaMontura.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formM.campoTallaMontura.errors?.required">
                          Campo requerido
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Color *</label>
                      <input class="form-control" placeholder="Color de la montura" type="text" name="title"
                        formControlName="{{this.color_montura}}" [ngClass]="{'is-invalid': formM.campoColorMontura.invalid && (formM.campoColorMontura.dirty || formM.campoColorMontura.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formM.campoColorMontura.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formM.campoColorMontura.errors?.pattern">
                          Ingrese solo letras
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Cantidad *</label>
                      <input class="form-control" placeholder="Cantidad" type="text" name="title"
                        formControlName="{{this.cantidad_montura}}" [ngClass]="{'is-invalid': formM.campoCantidadMontura.invalid && (formM.campoCantidadMontura.dirty || formM.campoCantidadMontura.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formM.campoCantidadMontura.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formM.campoCantidadMontura.errors?.pattern">
                          Ingrese solo números enteros
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Precio de Compra *</label>
                      <input class="form-control" placeholder="Precio" type="text" name="title"
                        formControlName="{{this.precio_compra_montura}}" [ngClass]="{'is-invalid': formM.campoCompraMontura.invalid && (formM.campoCompraMontura.dirty || formM.campoCompraMontura.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formM.campoCompraMontura.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formM.campoCompraMontura.errors?.pattern">
                          Ingrese solo números y opcional hasta 2 decimales
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Precio de Venta *</label>
                      <input class="form-control" placeholder="Precio" type="text" name="title"
                        formControlName="{{this.precio_venta_montura}}" [ngClass]="{'is-invalid': formM.campoVentaMontura.invalid && (formM.campoVentaMontura.dirty || formM.campoVentaMontura.touched)}"/>
                      <div class="invalid-feedback">
                        <span *ngIf="formM.campoVentaMontura.errors?.required">
                          Campo requerido
                        </span>
                        <span *ngIf="formM.campoVentaMontura.errors?.pattern">
                          Ingrese solo números y opcional hasta 2 decimales
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-end mt-2">
                  <button type="submit" class="btn btn-success ms-1" id="btn-save-event" (click)="guardarMonturas()"
                    [disabled]="!formMonturas.valid">
                    Registrar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #TabContentTasks>
        <div class="tab-content p-4">
          <div class="tab-pane active">
            <div>
              <form (ngSubmit)="saveEvent()" [formGroup]="formLunas">
                <p class="card-title-desc text-danger">* Campo requerido</p> 
                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label class="control-label">Fecha</label>
                      <input class="form-control" placeholder="Seleccione la fecha" type="text" name="title"
                        formControlName="{{this.fecha_registro_luna}}" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="mb-3">
                      <label class="control-label">Material *</label>
                      <input class="form-control" placeholder="Material de la luna" type="text" name="title"
                        formControlName="{{this.material_luna}}" [ngClass]="{'is-invalid': formL.campoMaterialLuna.invalid && (formL.campoMaterialLuna.dirty || formL.campoMaterialLuna.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formL.campoMaterialLuna.errors?.required">
                          Campo requerido
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Cantidad *</label>
                      <input class="form-control" placeholder="Cantidad" type="text" name="title"
                        formControlName="{{this.cantidad_luna}}" [ngClass]="{'is-invalid': formL.campoCantidadLuna.invalid && (formL.campoCantidadLuna.dirty || formL.campoCantidadLuna.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formL.campoCantidadLuna.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formL.campoCantidadLuna.errors?.pattern">
                          Ingrese solo números enteros
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Precio de Compra *</label>
                      <input class="form-control" placeholder="Precio" type="text" name="title"
                        formControlName="{{this.precio_compra_luna}}" [ngClass]="{'is-invalid': formL.campoCompraLuna.invalid && (formL.campoCompraLuna.dirty || formL.campoCompraLuna.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formL.campoCompraLuna.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formL.campoCompraLuna.errors?.pattern">
                          Ingrese solo números y opcional hasta 2 decimales
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Precio de Venta *</label>
                      <input class="form-control" placeholder="Precio" type="text" name="title"
                        formControlName="{{this.precio_venta_luna}}" [ngClass]="{'is-invalid': formL.campoVentaLuna.invalid && (formL.campoVentaLuna.dirty || formL.campoVentaLuna.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formL.campoVentaLuna.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formL.campoVentaLuna.errors?.pattern">
                          Ingrese solo números y opcional hasta 2 decimales
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-end mt-2">
                  <button type="submit" class="btn btn-success ms-1" id="btn-save-event" (click)="guardarLunas()"
                    [disabled]="!formLunas.valid">
                    Registrar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #TabContentMessages>
        <div class="tab-content p-4">
          <div class="tab-pane active">
            <div>
              <form (ngSubmit)="saveEvent()" [formGroup]="formAccesorios">
                <p class="card-title-desc text-danger">* Campo requerido</p> 
                <div class="row">
                  <div class="col-6">
                    <div class="mb-3">
                      <label class="control-label">Fecha</label>
                      <input class="form-control" placeholder="Seleccione la fecha" type="text" name="title"
                        formControlName="{{this.fecha_registro_accesorio}}" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="mb-3">
                      <label class="control-label">Nombre del Accesorio *</label>
                      <input class="form-control" placeholder="Accesorio" type="text" name="accesorio"
                        formControlName="{{this.nombre_accesorio}}" [ngClass]="{'is-invalid': formA.campoNombreAccesorio.invalid && (formA.campoNombreAccesorio.dirty || formA.campoNombreAccesorio.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formA.campoNombreAccesorio.errors?.required">
                          Campo requerido
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Cantidad *</label>
                      <input class="form-control" placeholder="Cantidad" type="text" name="cantidad"
                        formControlName="{{this.cantidad_accesorio}}" [ngClass]="{'is-invalid': formA.campoCantidadAccesorio.invalid && (formA.campoCantidadAccesorio.dirty || formA.campoCantidadAccesorio.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formA.campoCantidadAccesorio.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formA.campoCantidadAccesorio.errors?.pattern">
                          Ingrese solo números enteros
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Precio de Compra *</label>
                      <input class="form-control" placeholder="Precio" type="text" name="accesorio_compra"
                        formControlName="{{this.precio_compra_accesorio}}" [ngClass]="{'is-invalid': formA.campoCompraAccesorio.invalid && (formA.campoCompraAccesorio.dirty || formA.campoCompraAccesorio.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formA.campoCompraAccesorio.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formA.campoCompraAccesorio.errors?.pattern">
                          Ingrese solo números y opcional hasta 2 decimales
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label class="control-label">Precio de Venta *</label>
                      <input class="form-control" placeholder="Precio" type="text" name="accesorio_venta"
                        formControlName="{{this.precio_venta_accesorio}}" [ngClass]="{'is-invalid': formA.campoVentaAccesorio.invalid && (formA.campoVentaAccesorio.dirty || formA.campoVentaAccesorio.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formA.campoVentaAccesorio.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formA.campoVentaAccesorio.errors?.pattern">
                          Ingrese solo números y opcional hasta 2 decimales
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="text-end mt-2">
                  <button type="submit" class="btn btn-success ms-1" id="btn-save-event" (click)="guardarAccesorios()" [disabled]="!formAccesorios.valid">
                    Registrar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <!-- end row -->
</div>