<div class="container-fluid">
    <app-page-title title="Añadir un Producto" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row mb-4">  
      <div class="col-xl-12">
        <div class="card mb-0">
          <!-- Nav tabs -->
          <ul ngbNav #justifiednav="ngbNav" [activeId]="1" class="nav nav-tabs nav-justified nav-tabs-custom">
            <li [ngbNavItem]="1" class="nav-item">
              <a ngbNavLink class="nav-link">
                <i class="uil uil-nerd font-size-20"></i>
                <span class="d-none d-sm-block">Montura</span>
              </a>
              <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="TabContentAbout"></ng-template>
              </ng-template>
            </li>
            <li [ngbNavItem]="2" class="nav-item">
              <a ngbNavLink class="nav-link">
                <i class="uil uil-panorama-h-alt font-size-20"></i>
                <span class="d-none d-sm-block">Luna</span>
              </a>
              <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="TabContentTasks"></ng-template>
              </ng-template>
            </li>
            <li [ngbNavItem]="3" class="nav-item">
              <a ngbNavLink class="nav-link">
                <i class="uil uil-box font-size-20"></i>
                <span class="d-none d-sm-block">Accesorio</span>
              </a>
              <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="TabContentMessages"></ng-template>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="justifiednav"></div>
        </div>
  
        <!-- Tab content -->
        <ng-template #TabContentAbout>
          <div class="tab-content p-4">
            <div class="tab-pane active">
              <div>
                <form (ngSubmit)="saveEvent()" [formGroup]="formMonturas">
                  <div class="row">
                    <div class="col-6">
                      <div class="mb-3">
                        <label class="control-label">Fecha</label>
                        <input class="form-control" placeholder="Seleccione la fecha" type="text" name="title"
                          formControlName="{{this.fecha_registro}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                        <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                          <span *ngIf="form.title.errors.required">This value is required.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="mb-3">
                        <label class="control-label">Material</label>
                        <input class="form-control" placeholder="Material de la montura" type="text" name="title"
                          formControlName="{{this.material}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                        <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                          <span *ngIf="form.title.errors.required">This value is required.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="mb-3">
                        <label class="control-label">Marca</label>
                        <input class="form-control" placeholder="Marca de la montura" type="text" name="title"
                          formControlName="{{this.marca}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                        <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                          <span *ngIf="form.title.errors.required">This value is required.</span>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="row">
                    <div class="col-4">
                      <div class="mb-3">
                        <label class="control-label">Código</label>
                        <input class="form-control" placeholder="Código" type="text" name="title"
                          formControlName="{{this.codigo}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                        <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                          <span *ngIf="form.title.errors.required">This value is required.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="mb-3">
                        <label class="control-label">Código Interno</label>
                        <input class="form-control" placeholder="Código" type="text" name="title"
                          formControlName="{{this.codigo_interno}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                        <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                          <span *ngIf="form.title.errors.required">This value is required.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="mb-3">
                        <label class="control-label">Talla</label>
                        <input class="form-control" placeholder="Talla de la montura" type="text" name="title"
                          formControlName="{{this.talla}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                        <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                          <span *ngIf="form.title.errors.required">This value is required.</span>
                        </div>
                      </div>
                    </div>
                  </div>
        
        
                  <div class="row">
                    <div class="col-4">
                      <div class="mb-3">
                        <label class="control-label">Cantidad</label>
                        <input class="form-control" placeholder="Cantidad" type="text" name="title"
                          formControlName="{{this.cantidad}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                        <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                          <span *ngIf="form.title.errors.required">This value is required.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="mb-3">
                        <label class="control-label">Precio de Compra</label>
                        <input class="form-control" placeholder="Precio" type="text" name="title"
                          formControlName="{{this.precio_compra}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                        <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                          <span *ngIf="form.title.errors.required">This value is required.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="mb-3">
                        <label class="control-label">Precio de Venta</label>
                        <input class="form-control" placeholder="Precio" type="text" name="title"
                          formControlName="{{this.precio_venta}}" [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                        <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                          <span *ngIf="form.title.errors.required">This value is required.</span>
                        </div>
                      </div>
                    </div>
                  </div>
          
            
                  <div class="text-end mt-2">
                    <button type="button" class="btn btn-danger">
                      Close
                    </button>
                    <button type="submit" class="btn btn-success ms-1" id="btn-save-event">
                      Save
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </ng-template>
  
        <ng-template #TabContentTasks>
          <div class="tab-content p-4">
            <div class="tab-pane active">
              <div>
                <h5 class="font-size-16 mb-3">Active</h5>
  
                <h5 class="font-size-16 my-3">Upcoming</h5>
  
                <h5 class="font-size-16 my-3">Complete</h5>
  

              </div>
            </div>
          </div>
        </ng-template>
  
        <ng-template #TabContentMessages>
          <div class="tab-content p-4">
            <div class="tab-pane active">
              <div>
                <h5 class="font-size-16 mb-3">Active</h5>

              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <!-- end row -->
  </div>