<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="Registrar Nueva Tienda" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->
  
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
<!--             <h4 class="card-title">Bootstrap Validation - Normal</h4>
            <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form
              validation–available in all our supported browsers.</p> -->

              <form [formGroup]="formTiendas">
              <p class="card-title-desc text-danger">* Campo requerido</p> 
              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label for="validationCustom01">Nombre *</label>
                      <input class="form-control" placeholder="Nombre de la tienda" type="text" name="title"
                          formControlName="{{this.nombre_tienda}}" [ngClass]="{'is-invalid': formT.campoNombreTienda.invalid && (formT.campoNombreTienda.dirty || formT.campoNombreTienda.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formT.campoNombreTienda.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formT.campoNombreTienda.errors?.minlength">
                          El campo debe ser mayor a 3 caracteres
                        </div>
                        <div  *ngIf="formT.campoNombreTienda.errors?.maxlength">
                          El campo debe ser menor a 40 caracteres
                        </div>
                      </div>
                  </div>
                </div>

<!--                 <div class="col-12 col-sm-4">
                    <div class="mb-3">
                        <label class="form-label">Estado *</label>
                        <ng-select name="selectCountry" [items]="selectValue" >
                        </ng-select>
                    </div>
                </div> -->
              </div>

              <div class="row">
                <div class="col-12 col-sm-12">
                  <div class="mb-3">
                    <label for="validationCustom01">Dirección *</label>
                      <input class="form-control" placeholder="Dirección de la tienda" type="text" name="title"
                          formControlName="{{this.direccion_tienda}}" [ngClass]="{'is-invalid': formT.campoDireccionTienda.invalid && (formT.campoDireccionTienda.dirty || formT.campoDireccionTienda.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formT.campoDireccionTienda.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formT.campoDireccionTienda.errors?.minlength">
                          El campo debe ser mayor a 3 caracteres
                        </div>
                        <div  *ngIf="formT.campoDireccionTienda.errors?.maxlength">
                          El campo debe ser menor a 60 caracteres
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="row my-2">
              <div class="col">
                <div class="text-sm-end mt-2 mt-sm-0">
                  <button class="btn btn-success" (click)="guardarSede()">
                    <i class="uil uil-store-alt me-1"></i> Registar Tienda
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end card -->
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  

  </div>
  