<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="Registrar Nueva Tienda" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->
  
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
<!--             <h4 class="card-title">Bootstrap Validation - Normal</h4>
            <p class="card-title-desc">Provide valuable, actionable feedback to your users with HTML5 form
              validation–available in all our supported browsers.</p> -->

              <form (ngSubmit)="saveEvent()" [formGroup]="formTiendas">
              <div class="row">
                <div class="col-md-8">
                  <div class="mb-3">
                    <label for="validationCustom01">Nombre</label>
                      <input class="form-control" placeholder="Nombre de la tienda" type="text" name="title"
                          formControlName="{{this.nombre_tienda}}" />
                        <!-- <input class="form-control" placeholder="Marca de la montura" type="text" name="title"
                          formControlName="{{this.nombre_tienda}}" [ngClass]="{'is-invalid': submitted && form.nombre_tienda.errors}" /> -->
                        <!-- <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                          <span *ngIf="form.title.errors.required">This value is required.</span>
                        </div> -->
                  </div>
                </div>

                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label">Estado</label>
                        <ng-select name="selectCountry" [items]="selectValue" >
                        </ng-select>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="mb-3">
                    <label for="validationCustom01">Dirección</label>
                      <input class="form-control" placeholder="Dirección de la tienda" type="text" name="title"
                          formControlName="{{this.direccion_tienda}}" />
                        <!-- <input class="form-control" placeholder="Marca de la montura" type="text" name="title"
                          formControlName="{{this.nombre_tienda}}" [ngClass]="{'is-invalid': submitted && form.nombre_tienda.errors}" /> -->
                        <!-- <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                          <span *ngIf="form.title.errors.required">This value is required.</span>
                        </div> -->
                  </div>
                </div>
              </div>


              <button class="btn btn-primary" type="submit">Registrar</button>
            </form>
          </div>
        </div>
        <!-- end card -->
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  

  </div>
  