<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{year}} © Todos los derechos reservados.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    © {{year}} Orange Óptica. Desarrollado por <i class="mdi mdi-laptop-mac text-danger"></i> - <a href="" target="_blank" class="text-reset">REW</a>
                </div>
            </div>
        </div>
    </div>
</footer>