<div class="container-fluid">
  <app-page-title title="Lista de Usuarios" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row mt-2 mb-2">
    <div class="col-sm-12 col-md-8 justify-content-start">
      <div class="row mb-2">
        <div class="col-md-8 search-box chat-search-box">
          <div class="position-relative">
            <input type="text" class="form-control border-light rounded" placeholder="Buscar cliente" name="searchTerm"
              aria-controls="tickets-table" [(ngModel)]="service.searchTerm">
            <i class="uil uil-search search-icon"></i>
          </div>
        </div>
<!--         <div class="col-4">
          <div class="btn-group text-md-start">
            <button type="button" class="btn btn-primary"><i class="uil uil-import" ngbTooltip="Exportar"></i></button>
            <button type="button" class="btn btn-primary"><i class="uil uil-export" ngbTooltip="Importar"></i></button>
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-sm-12 col-md-4 text-md-end">
      <div class="dataTables_length"><label class="d-inline-flex align-items-center">Mostrar<select name="pageSize"
            [(ngModel)]="service.pageSize"
            class="custom-select custom-select-sm form-control form-control-sm form-select form-select-sm">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
          </select> entradas</label></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive mb-4">
          <form>
            <table class="table datatables table-centered table-nowrap mb-0 align-middle table-card-list"style="border-spacing: 0 12px; width: 100%;">
              <thead>
                <tr class="bg-transparent">
                  <!--                     <th style="width: 20px;">
                      <div class="form-check text-center">
                        <input type="checkbox" class="form-check-input" id="customercheck">
                        <label class="form-check-label" for="customercheck"></label>
                      </div>
                    </th> -->
                  <th scope="col" sortable="id" (sort)="onSort($event)">Ord.</th>
                  <th scope="col" sortable="nombres" (sort)="onSort($event)">Nombres</th>
                  <th scope="col" sortable="apellidos" (sort)="onSort($event)">Apellidos</th>
                  <th scope="col" sortable="dni" (sort)="onSort($event)">DNI</th>
                  <th scope="col" sortable="rol" (sort)="onSort($event)">Rol</th>
                  <th scope="col" sortable="login" (sort)="onSort($event)">Login</th>
                  <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
                  <th scope="col" sortable="fecha_creacion" (sort)="onSort($event)">Fecha de Ingreso</th>
<!--                   <th scope="col" sortable="status" (sort)="onSort($event)">Estado</th> -->
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of customers$ | async; let i = index">
                  <!--                     <td>
                      <div class="form-check text-center">
                        <input id="ordercheck{{data.index}}" type="checkbox" class="form-check-input" />
                        <label class="form-check-label" for="ordercheck{{data.index}}">&nbsp;</label>
                      </div>
                    </td> -->
                  <td>
                    <ngb-highlight [result]="i+1" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <div class="avatar-xs d-inline-block me-2">
                      <span class="avatar-title rounded-circle bg-light text-body">
                        {{data.nombres.charAt(0)}}
                      </span>
                    </div>
                    <ngb-highlight [result]="data.nombres.toUpperCase()" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.apellidos.toUpperCase()" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.dni" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.rol.toUpperCase()" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.usuario" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.email" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="data.fecha_creacion| date: 'dd/MM/yyyy'"
                      [term]="service.searchTerm"></ngb-highlight>
                  </td>
<!--                   <td>
                    <span class="badge bg-pill bg-soft-success font-size-12"
                      [ngClass]=" { 'bg-soft-danger': data.status === 'Deactive' }">{{data.status}}</span>
                  </td> -->
                  <td>
                    <a (click)="centerModal(centerDataModal,data)" class="px-2 text-primary" placement="top"
                      ngbTooltip="Editar"><i class="uil uil-pen font-size-18"></i></a>
                    <a (click)="eliminar(data)" class="px-2 text-danger" placement="top" ngbTooltip="Eliminar"><i
                        class="uil uil-trash-alt font-size-18"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
      </div>
      
      <div class="row" *ngIf="!mostrarSpinner">
        <div class="col-12">
          <div class="text-center my-3">
            <a href="javascript:void(0);" class="text-primary"><i
                class="mdi mdi-loading mdi-spin font-size-20 align-middle me-2"></i> Cargando </a>
          </div>
        </div> <!-- end col-->
      </div>

      <!-- End table -->
      <div class="row justify-content-md-between align-items-md-center">
        <!-- <div class="col-sm-12 col-md-5">
          <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Page 2 of 84</div>
        </div> -->
        <!-- Pagination -->
        <div class="col-12">
          <div class="text-md-end float-md-end pagination-rounded">
            <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </div>
        <!-- End Pagination -->
      </div>
    </div>
  </div>
  <!-- end row -->
</div>


<!-- Editar User - Center Modal -->
<ng-template #centerDataModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">Editar Usuario</h5>
    <button type="button" class="btn-close" (click)="closeEventModal()">
    </button>
  </div>
  <div class="modal-body p-4">
    <form (ngSubmit)="saveEvent()" [formGroup]="formUser">
      <p class="card-title-desc text-danger">* Campo requerido</p> 
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">DNI *</label>
            <input class="form-control" placeholder="DNI del cliente" type="text" name="title"
              formControlName="{{this.dni}}"/>

          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label class="control-label">Fecha de Registro</label>
            <input class="form-control" placeholder="Seleccione la fecha" type="date" name="title"
              formControlName="{{this.fechaModificacion}}" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label class="control-label">Nombres *</label>
            <input class="form-control" placeholder="Nombres del cliente" type="text" name="title"
              formControlName="{{this.nombres}}" [ngClass]="{'is-invalid': formEU.campoNombres.invalid && (formEU.campoNombres.dirty || formEU.campoNombres.touched)}"/>
            <div class="invalid-feedback">
              <div *ngIf="formEU.campoNombres.errors?.required">
                Campo requerido
              </div>
              <div *ngIf="formEU.campoNombres.errors?.pattern">
                Ingrese solo letras
              </div>
              <div *ngIf="formEU.campoNombres.errors?.minlength">
                Los nombres debe ser mayor a 3 caracteres
              </div>
              <div  *ngIf="formEU.campoNombres.errors?.maxlength">
                Los nombres debe ser menor a 40 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="control-label">Apellidos *</label>
            <input class="form-control" placeholder="Apellidos del cliente" type="text" name="title"
              formControlName="{{this.apellidos}}" [ngClass]="{'is-invalid': formEU.campoApellidos.invalid && (formEU.campoApellidos.dirty || formEU.campoApellidos.touched)}"/>
            <div class="invalid-feedback">
              <div *ngIf="formEU.campoApellidos.errors?.required">
                Campo requerido
              </div>
              <div *ngIf="formEU.campoApellidos.errors?.pattern">
                Ingrese solo letras
              </div>
              <div *ngIf="formEU.campoApellidos.errors?.minlength">
                Los apellidos debe ser mayor a 3 caracteres
              </div>
              <div  *ngIf="formEU.campoApellidos.errors?.maxlength">
                Los apellidos debe ser menor a 40 caracteres
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3">
            <label class="control-label">Fecha de Nacimiento</label>
            <input class="form-control" placeholder="Seleccione la fecha" type="date" name="title"
              formControlName="{{this.fechaNacimiento}}"  />
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <label class="control-label">Telefono</label>
            <input class="form-control" placeholder="Telefono del cliente" type="text" name="title"
              formControlName="{{this.telefono}}" [ngClass]="{'is-invalid': formEU.campoTelefono.invalid && (formEU.campoTelefono.dirty || formEU.campoTelefono.touched)}"/>
            <div class="invalid-feedback">
              <div *ngIf="formEU.campoTelefono.errors?.pattern">
                Ingrese solo números
              </div>
              <div *ngIf="formEU.campoTelefono.errors?.min">
                Número de dígitos menor
              </div>
              <div *ngIf="formEU.campoTelefono.errors?.max">
                Número de dígitos mayor
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="control-label">Correo Electrónico</label>
            <input class="form-control" placeholder="Correo electrónico" type="email" 
              formControlName="{{this.email}}" [ngClass]="{'is-invalid': formEU.campoEmail.invalid && (formEU.campoEmail.dirty || formEU.campoEmail.touched)}"/>
            <div class="invalid-feedback">
              <div *ngIf="formEU.campoEmail.errors?.email">
                Email invalido
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-top py-2">
        <div class="d-flex justify-content-center">
          <h6>Rol y Sede del Usuario</h6>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label class="control-label">Rol *</label>
              <ng-select [items]="listRoles" formControlName="rol" placeholder="Seleccione" bindValue="tNombre"
                bindLabel="tNombre">
              </ng-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="control-label">Sede *</label>
              <ng-select [items]="listSedes" formControlName="sede" placeholder="Seleccione" bindValue="id_sede"
                bindLabel="nombre_sede">
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="border-top py-2">
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-4">
              <label class="form-label" for="billing-observaciones">Observaciones</label>
              <textarea class="form-control" id="billing-observaciones" rows="3" placeholder="Ingrese las observaciones"
                formControlName="{{this.observaciones}}"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="text-end mt-2">
        <button type="button" class="btn btn-danger" (click)="closeEventModal()">
          Cerrar
        </button>
        <button type="submit" class="btn btn-success ms-1" id="btn-save-event" (click)="updateUser()">
          Guardar
        </button>
      </div>
    </form>
  </div>
  <!-- end modal dialog-->
</ng-template>
<!-- end modal-->