<div class="container-fluid">

  <app-page-title title="Ventas" [breadcrumbItems]="breadCrumbItems"></app-page-title>


  <div class="row mt-2 mb-2">
    <div class="col-sm-12 col-md-6 justify-content-start">
      <div class="row mb-2">
        <div class="col-12 search-box chat-search-box">
          <div class="position-relative">
            <input type="text" class="form-control border-light rounded" placeholder="Buscar venta" name="searchTerm"
              aria-controls="tickets-table" [(ngModel)]="service.searchTerm">
            <i class="uil uil-search search-icon"></i>
          </div>
        </div>
<!--         <div class="col-4">
          <div class="btn-group text-md-start">
            <button type="button" class="btn btn-primary"><i class="uil uil-import" ngbTooltip="Exportar"></i></button>
            <button type="button" class="btn btn-primary"><i class="uil uil-export" ngbTooltip="Importar"></i></button>
          </div>
          <button type="button" class="btn btn-success waves-effect waves-light mb-3"><i class="uil-tag-alt me-1"></i>
            Etiquetas</button>
        </div> -->
      </div>
    </div>
    <div class="col-sm-12 col-md-6 text-md-end">
      <div class="dataTables_length">
        <label class="d-inline-flex align-items-center">Mostrar<select name="pageSize" [(ngModel)]="service.pageSize"
            class="custom-select custom-select-sm form-control form-control-sm form-select form-select-sm">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
          </select> entradas
        </label>
      </div>
    </div>
  </div>


  <div class="row mt-2 mb-2">
    <div class="col-sm-12 col-md-8 justify-content-start">
      <div class="row mb-2">
        <div class="col-8 search-box chat-search-box">
          <div class="position-relative">
            <form [formGroup]="formDateRange">
              <div class="input-daterange input-group">
                <input type="date" class="form-control" id="billing-fechanacimiento"
                placeholder="Seleccione la fecha" formControlName="{{this.fechaDesde}}" />
                <input type="date" class="form-control" id="billing-fechanacimiento"
                placeholder="Seleccione la fecha" formControlName="{{this.fechaHasta}}" />
                <button type="button" class="btn btn-primary" (click)="filterDateRange()"><i
                    class="mdi mdi-filter-variant"></i></button>
              </div>
            </form>
          </div>
        </div>

<!--         <div class="col-8 search-box chat-search-box">
          <div class="position-relative">
            <form [formGroup]="formDateRange">
              <div class="input-daterange input-group" id="datepicker6" data-date-format="dd M, yyyy"
                data-date-autoclose="true" data-provide="datepicker" data-date-container='#datepicker6'>
                <ng2-flatpickr mode="range" class="text-start" [config]="exampleOptions" placeholder="Desde"
                  formControlName="{{this.fechaDesde}}">
                </ng2-flatpickr>
                <ng2-flatpickr class="text-start" [config]="exampleOptions" placeholder="Hasta"
                  formControlName="{{this.fechaHasta}}"></ng2-flatpickr>
                <button type="button" class="btn btn-primary" (click)="filterDateRange()"><i
                    class="mdi mdi-filter-variant"></i></button>
              </div>
            </form>
          </div>
        </div> -->

        <div class="col-4">
          <!--           <div class="btn-group text-md-start">
            <button type="button" class="btn btn-primary"><i class="uil uil-import" ngbTooltip="Exportar"></i></button>
            <button type="button" class="btn btn-primary"><i class="uil uil-export" ngbTooltip="Importar"></i></button>
          </div> -->
          <!--           <button type="button" class="btn btn-success waves-effect waves-light mb-3"><i class="uil-tag-alt me-1"></i>
          Etiquetas</button> -->
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 text-md-end">
      <div class="dataTables_length">
        <label class="d-inline-flex align-items-center">Ventas<select name="sales"
            class="custom-select custom-select-sm form-control form-control-sm form-select form-select-sm">
            <option [ngValue]="1">pagados</option>
            <option [ngValue]="2">deudas</option>
          </select> entradas
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div>
        <div class="table-responsive mb-4">
            <form>
              <table class="table datatables table-centered table-nowrap mb-0 align-middle table-card-list"style="border-spacing: 0 12px; width: 100%;">
                <thead>
                  <tr class="bg-transparent">
                    <th scope="col" sortable="observaciones" (sort)="onSort($event)">Ord.</th>
                    <th scope="col" sortable="id_sede" (sort)="onSort($event)">Fecha</th>
                    <th scope="col" sortable="" (sort)="onSort($event)">Nombre del Cliente</th>
                    <th scope="col" sortable="" (sort)="onSort($event)">Total</th>
                    <th scope="col" sortable="" (sort)="onSort($event)">Estado de Pago</th>
                    <th scope="col" sortable="pdf" (sort)="onSort($event)">Descargar Pdf</th>
                    <th style="width: 170px;">Action</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let data of transactions$ | async; let i = index" class="odd">

                    <td>
                      <ngb-highlight [result]="i+1" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="data.fecha_creacion_venta| date: 'dd/MM/yyyy'"
                        [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <div class="avatar-xs d-inline-block me-2">
                        <span class="avatar-title rounded-circle bg-light text-body">
                          {{data.nombre_cliente.charAt(0)}}
                        </span>
                      </div>
                      <ngb-highlight [result]="data.nombre_cliente" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="data.tipo_venta[0].precio_total" [term]="service.searchTerm">
                      </ngb-highlight>
                    </td>
                    <td *ngIf="data.tipo_venta[0].deuda>0">
                      <span class="text-danger">Deuda &nbsp;</span>
                      <span class="badge rounded-pill bg-soft-success font-size-12"
                        [ngClass]=" { 'bg-soft-danger': data.tipo_venta[0].deuda > 0}">
                        {{data.tipo_venta[0].deuda}}
                      </span>
                    </td>
                    <td *ngIf="data.tipo_venta[0].deuda == 0">
                      <span class="text-success">Pagado</span>
                    </td>
                    <td>
                      <div>
                        <button (click)="createPDF(data)" class="btn btn-light btn-sm w-xs">Pdf <i class="uil uil-download-alt ms-2"></i></button>
                      </div>
                    </td>
                    <td>
                      <a *ngIf="data.tipo_venta[0].forma_pago == 'credito'" (click)="centerModalActualizar(centerDataModalActualizarVenta,data)" class="px-3 text-primary"
                        placement="top" ngbTooltip="Editar"><i class="uil uil-pen font-size-18"></i></a>
                      <a (click)="eliminar(data)" class="px-3 text-danger" placement="top" ngbTooltip="Eliminar"><i
                          class="uil uil-trash-alt font-size-18"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
        </div>

        <div class="row" *ngIf="!mostrarSpinner">
          <div class="col-12">
            <div class="text-center my-3">
              <a href="javascript:void(0);" class="text-primary"><i
                  class="mdi mdi-loading mdi-spin font-size-20 align-middle me-2"></i> Cargando </a>
            </div>
          </div> <!-- end col-->
        </div>

        <!-- End table -->
        <div class="row justify-content-md-between align-items-md-center">
          <!-- <div class="col-sm-12 col-md-5">
            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Page 2 of 84</div>
          </div> -->
          <!-- Pagination -->
          <div class="col-12">
            <div class="text-md-end float-md-end pagination-rounded">
              <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
              </ngb-pagination>
            </div>
          </div>
          <!-- End Pagination -->
        </div>

      </div>
    </div>
  </div>




  <!-- Actualizar Venta - Center Modal -->
  <ng-template #centerDataModalActualizarVenta let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-title">Actualizar Venta - Al Credito</h5>
      <button type="button" class="btn-close" (click)="closeEventModal()">
      </button>
    </div>
    <div class="modal-body p-4">
      <div class="col-lg-14">
        <form (ngSubmit)="saveEvent()" [formGroup]="formCreditoActualizacion">

          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="control-label">Nombres y Apellidos del Cliente</label>
                <h5>{{usuario.nombre}}</h5>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="text-muted text-sm-end">
                <div class="mt-4">
                  <div class="text-danger font-size-16">Deuda &nbsp;</div>
                  <div class="badge rounded-pill bg-soft-success font-size-16" [ngClass]=" { 'bg-soft-danger': 1 > 0}">
                    {{usuario.deuda|currency:'S/.'}} </div>
                </div>
              </div>
            </div>
          </div>

          <div class="border-top pt-4">

            <div class="row">
              <div class="col-4">
                <div class="mb-3">
                  <label class="control-label">Cantidad Recibida</label>
                  <input class="form-control" placeholder="Cantidad en soles" type="text"
                    name="nameCantidadRecibidaCredito" (change)="updatePago($event)"
                    formControlName="{{this.cantidadRecibida_CreditoActualizacion}}" />
                  <div class="text-danger"
                    *ngIf="formCreditoActualizacion.controls['campoCantidadRecibidaCreditoActualizacion'].invalid && (formCreditoActualizacion.controls['campoCantidadRecibidaCreditoActualizacion'].dirty || formCreditoActualizacion.controls['campoCantidadRecibidaCreditoActualizacion'].touched)">
                    <div class="text-danger"
                      *ngIf="formCreditoActualizacion.controls['campoCantidadRecibidaCreditoActualizacion'].errors.required">
                      Campo requerido
                    </div>
                    <div class="text-danger"
                      *ngIf="formCredito.controls['campoCantidadRecibidaCreditoActualizacion'].errors.pattern">
                      Ingrese solo números
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label class="form-label">Método</label>
                  <ng-select name="selectMetodo" [items]="listMetodosPagos"
                    formControlName="{{this.metodoPagoCreditoActualizacion}}" placeholder="Seleccione">
                  </ng-select>
                  <div class="text-danger"
                    *ngIf="formCreditoActualizacion.controls['campoMetodoPagoCreditoActualizacion'].invalid && (formCreditoActualizacion.controls['campoMetodoPagoCreditoActualizacion'].dirty || formCreditoActualizacion.controls['campoMetodoPagoCreditoActualizacion'].touched)">
                    <div class="text-danger"
                      *ngIf="formCreditoActualizacion.controls['campoMetodoPagoCreditoActualizacion'].errors.required">
                      Campo requerido
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label class="control-label">Fecha</label>
                  <input class="form-control" placeholder="Seleccione la fecha" type="text"
                    name="nameFechaRegistroCredito" formControlName="{{this.fechaVenta_CreditoActualizacion}}"
                    [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                  <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                    <span *ngIf="form.title.errors.required">This value is required.</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="mb-3">
                  <label class="control-label">Información de Pagos</label>

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        <table class="table table-sm m-0 table-centered">
                          <thead>
                            <tr>
                              <th style="width: 70px;">Nº Cuotas</th>
                              <th>Monto</th>
                              <th>Método</th>
                              <th>Fecha</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>S/. 60.00</td>
                              <td>Plin</td>
                              <td>09 Ago, 2022</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>S/. 30.00</td>
                              <td>Interbancario</td>
                              <td>14 Set, 2022</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>S/. 59.00</td>
                              <td>Físico</td>
                              <td>18 Oct, 2022</td>
                            </tr>
                            <tr>
                              <th scope="row">4</th>
                              <td>S/. 30.00</td>
                              <td>Yape</td>
                              <td>29 Nov, 2022</td>
                            </tr>
                            <tr>
                              <th scope="row">5</th>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <label class="control-label" style="text-align: left;">Montos:</label>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <div class="mb-3">
                  <label class="control-label">Total</label>
                  <input class="form-control" placeholder="S/ 000.00" type="text" name="nameTotalCredito"
                    formControlName="{{this.precioTotal_CreditoActualizacion}}"
                    [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label class="control-label">Pago</label>
                  <input class="form-control" placeholder="S/ 000.00" type="text" name="namePagoCredito"
                    formControlName="{{this.pago_CreditoActualizacion}}"
                    [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                </div>
              </div>
              <div class="col-4">
                <div class="mb-3">
                  <label class="control-label">Cambio</label>
                  <input class="form-control" placeholder="S/ 000.00" type="text" name="nameCambioCredito"
                    formControlName="{{this.cambio_CreditoActualizacion}}"
                    [ngClass]="{'is-invalid': submitted && form.title.errors}" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="mb-4">
                  <label class="form-label" for="billing-observaciones">Observaciones</label>
                  <textarea class="form-control" id="billing-observaciones" rows="3"
                    placeholder="Ingrese las observaciones"
                    formControlName="{{this.observaciones_CreditoActualizacion}}"></textarea>
                </div>
              </div>
            </div>

          </div>

          <div class="text-end mt-2">
            <button type="button" class="btn btn-danger" (click)="closeEventModal()">
              Cerrar
            </button>
            <button type="submit" class="btn btn-success ms-1" (click)="guardarActualizacionDeuda()"
              [disabled]="!formCreditoActualizacion.valid" id="btn-save-event">
              Registrar Venta
            </button>
          </div>
        </form>
      </div><!-- End Justified Tabs -->
    </div>
  </ng-template>