<div class="container-fluid">
  <app-page-title title="Registrar Nuevo Usuario" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <form [formGroup]="formRegister">
    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <div class="p-3 px-4">
                <div class="d-flex align-items-start">
                  <div class="align-self-center me-3">
                    <i class="uil uil-file-bookmark-alt text-primary h2"></i>
                  </div>
                  <div class="flex-1">
                    <h5 class="font-size-16 mb-1">Información del Usuario</h5>
                    <p class="font-size-14 text-muted text-truncate mb-0">
                      Datos básicos del nuevo usuario.
                    </p>
                  </div>
                </div>
              </div>
            </h4>
            <p class="card-title-desc text-danger">* Campo requerido</p> 
            <div class="border-top py-4">
              <div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="billing-dni">DNI *</label>
                      <input type="text" class="form-control" id="billing-dni" placeholder="Ingrese el DNI"
                        formControlName="{{this.dni}}" [ngClass]="{'is-invalid': formU.campoDNI.invalid && (formU.campoDNI.dirty || formU.campoDNI.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formU.campoDNI.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formU.campoDNI.errors?.pattern">
                          Ingrese solo números
                        </div>
                        <div *ngIf="formU.campoDNI.errors?.min">
                          Número de dígitos menor
                        </div>
                        <div *ngIf="formU.campoDNI.errors?.max">
                          Número de dígitos mayor
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="billing-fecharegistro">Fecha de Registro</label>
                      <input type="text" class="form-control" id="billing-fecharegistro"
                        placeholder="Seleccione la fecha" formControlName="{{this.fechaCreacion}}" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="billing-firstnames">Nombres *</label>
                      <input type="text" class="form-control" id="billing-firstnames" placeholder="Ingrese los nombres"
                        formControlName="{{this.nombres}}" [ngClass]="{'is-invalid': formU.campoNombres.invalid && (formU.campoNombres.dirty || formU.campoNombres.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formU.campoNombres.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formU.campoNombres.errors?.pattern">
                          Ingrese solo letras
                        </div>
                        <div *ngIf="formU.campoNombres.errors?.minlength">
                          Los nombres debe ser mayor a 3 caracteres
                        </div>
                        <div  *ngIf="formU.campoNombres.errors?.maxlength">
                          Los nombres debe ser menor a 40 caracteres
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="billing-lastnames">Apellidos *</label>
                      <input type="text" class="form-control" id="billing-lastnames" placeholder="Ingrese los apellidos"
                        formControlName="{{this.apellidos}}" [ngClass]="{'is-invalid': formU.campoApellidos.invalid && (formU.campoApellidos.dirty || formU.campoApellidos.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formU.campoApellidos.errors?.required">
                          Campo requerido
                        </div>
                        <div *ngIf="formU.campoApellidos.errors?.pattern">
                          Ingrese solo letras
                        </div>
                        <div *ngIf="formU.campoApellidos.errors?.minlength">
                          Los apellidos debe ser mayor a 3 caracteres
                        </div>
                        <div  *ngIf="formU.campoApellidos.errors?.maxlength">
                          Los apellidos debe ser menor a 40 caracteres
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-3">
                    <div class="mb-4">
                      <label class="form-label" for="billing-fechanacimiento">Fecha de Nacimiento</label>
                      <input type="date" class="form-control" id="billing-fechanacimiento"
                        placeholder="Seleccione la fecha" formControlName="{{this.fechaNacimiento}}" />
                    </div>
                  </div>
                  <div class="col-12 col-sm-3">
                    <div class="mb-4">
                      <label class="form-label" for="billing-phone">Teléfono</label>
                      <input type="text" class="form-control" id="billing-phone" placeholder="Teléfono del Cliente"
                        formControlName="{{this.telefono}}" [ngClass]="{'is-invalid': formU.campoTelefono.invalid && (formU.campoTelefono.dirty || formU.campoTelefono.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formU.campoTelefono.errors?.pattern">
                          Ingrese solo números
                        </div>
                        <div *ngIf="formU.campoTelefono.errors?.min">
                          Número de dígitos menor
                        </div>
                        <div *ngIf="formU.campoTelefono.errors?.max">
                          Número de dígitos mayor
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="billing-email-address">Correo Electrónico</label>
                      <input type="email" class="form-control" id="billing-email-address"
                        placeholder="Correo electrónico" formControlName="{{this.email}}" [ngClass]="{'is-invalid': formU.campoEmail.invalid && (formU.campoEmail.dirty || formU.campoEmail.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formU.campoEmail.errors?.email">
                          Email invalido
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="billing-password">Contraseña *</label>
                      <input type="password" class="form-control" id="billing-password"
                        placeholder="Ingrese la contraseña" formControlName="{{this.password}}" [ngClass]="{'is-invalid': formU.campoPassword.invalid && (formU.campoPassword.dirty || formU.campoPassword.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formU.campoPassword.errors?.required">
                          Campo requerido.
                        </div>
                        <div *ngIf="formU.campoPassword.errors?.minlength">
                          Su contraseña debe ser mayor a 6 caracteres.
                        </div>
                        <div  *ngIf="formU.campoPassword.errors?.maxlength">
                          Su contraseña debe ser menor a 20 caracteres.
                        </div>
                        <div *ngIf="formU.campoPassword.errors?.pattern">
                          La contraseña debe tener entre 6 a 20 caracteres, al menos una mayúscula, minúscula, dígito y un carácter especial.  
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="mb-4">
                      <label class="form-label" for="billing-repet-password">Repita la contraseña *</label>
                      <input type="password" class="form-control" id="billing-repet-password"
                        placeholder="Repita la contraseña" formControlName="{{this.repeatPassword}}" [ngClass]="{'is-invalid': formU.campoRepeatPassword.invalid && (formU.campoRepeatPassword.dirty || formU.campoRepeatPassword.touched)}"/>
                      <div class="invalid-feedback">
                        <div *ngIf="formU.campoRepeatPassword.errors?.required">
                          Campo requerido.
                        </div>
                        <div *ngIf="formU.campoRepeatPassword.errors?.minlength">
                          Su contraseña debe ser mayor a 6 caracteres.
                        </div>
                        <div *ngIf="formU.campoRepeatPassword.errors?.maxlength">
                          Su contraseña debe ser menor a 20 caracteres.
                        </div>
                        <div *ngIf="formU.campoRepeatPassword.errors?.pattern">
                          La contraseña debe tener entre 6 a 20 caracteres, al menos una mayúscula, minúscula, dígito y un carácter especial.  
                        </div> 
                        <div *ngIf="formU.campoRepeatPassword.errors?.confirmedValidator">
                          Las contraseñas no coinciden.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12">
                    <div class="mb-4">
                      <label class="form-label" for="billing-observaciones">Observaciones</label>
                      <textarea class="form-control" id="billing-observaciones" rows="3"
                        placeholder="Ingrese las observaciones" formControlName="{{this.observaciones}}"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end card -->
      </div> <!-- end col -->

      <div class="col-xl-6 mb-4">
        <div class="row">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <div class="p-3 px-4">
                  <div class="d-flex align-items-start">
                    <div class="align-self-center me-3">
                      <i class="uil uil-award-alt text-primary h2"></i>
                    </div>
                    <div class="flex-1">
                      <h5 class="font-size-16 mb-1">Rol del Usuario</h5>
                      <p class="font-size-14 text-muted text-truncate mb-0">
                        Rol que desempeñará el nuevo usuario.
                      </p>
                    </div>
                  </div>
                </div>
              </h4>
              <p class="card-title-desc text-danger">* Campo requerido</p> 
              <div class="border-top py-2">
                <div>
                  <h5 class="font-size-14 mb-3">Roles *</h5>
                  <div class="scrolling-wrapper row flex-row flex-nowrap mt-2 pb-4 pt-2">
                    <div class="col-sm-6" *ngFor='let rol of listRoles;let i = index'>
                      <div data-toggle="collapse">
                        <label class="card-radio-label">
                          <input type="radio" id="{{rol.cNombre}}" name="rol" class="card-radio-input"
                            formControlName="rol" value="{{rol.tNombre}}" />
                          <span class="card-radio text-center text-truncate">
                            <i class="uil uil-user d-block h2 mb-3"></i>
                            {{rol.tNombre}}
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <div class="p-3 px-4">
                  <div class="d-flex align-items-start">
                    <div class="align-self-center me-3">
                      <i class="uil uil-location-pin-alt text-primary h2"></i>
                    </div>
                    <div class="flex-1">
                      <h5 class="font-size-16 mb-1">Sede del Usuario</h5>
                      <p class="font-size-14 text-muted text-truncate mb-0">
                        Sede donde laborará el nuevo usuario.
                      </p>
                    </div>
                  </div>
                </div>
              </h4>
              <p class="card-title-desc text-danger">* Campo requerido</p> 
              <div class="border-top py-2">
                <div>
                  <h5 class="font-size-14 mb-3">Sedes *</h5>
                    <div class="scrolling-wrapper row flex-row flex-nowrap mt-2 pb-4 pt-2">
                      <div class="col-sm-6" *ngFor='let sede of listSedes;let i = index'>
                        <div data-toggle="collapse">
                          <label class="card-radio-label">
                            <input type="radio" id="{{sede.id_sede}}" name="sede" class="card-radio-input"
                              formControlName="sede" value="{{sede.id_sede}}" />
                            <span class="card-radio text-center text-truncate">
                              <i class="uil uil-store-alt d-block h2 mb-3"></i>
                              {{sede.nombre_sede}}<br>
                              {{sede.direccion}}
                            </span>
                          </label>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row my-2">
    <div class="col">
      <div class="text-sm-end mt-2 mt-sm-0">
        <button class="btn btn-success" (click)="guardarUsuario()" [disabled]="!formRegister.valid">
          <i class="uil uil-user-plus me-1"></i> Registrar Usuario
        </button>
      </div>
    </div>
  </div>

</div>